{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Reports and Dashboards in Zoho Analytics - covering the creation, update and metadata retrieval of analysis views, and the listing, creation, metadata retrieval and update of dashboards."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Reports",
      "x-zenesis-description-pageName": "Reports Overview",
      "description": "APIs for creating, updating and reading the metadata of analysis views (charts, pivot tables and summary views) inside a workspace.\n\nAn analysis view is always built on top of a base table in the same workspace. Its whole definition - report type, chart sub-type, axis columns, filters, user filters, drill actions and display settings - travels in a single `CONFIG` JSON parameter that is shared, field for field, by all three APIs in this module.\n\n## Common request conventions\n\n| Header | Value | Required |\n|---|---|---|\n| `Authorization` | `Zoho-oauthtoken <oauth-token>` | Mandatory |\n| `ZANALYTICS-ORGID` | Organization ID owning the workspace | Mandatory |\n| `Content-Type` | `application/x-www-form-urlencoded` | POST and PUT only |\n\nFor Create and Update, `CONFIG` is a URL encoded JSON string sent as a form field named `CONFIG`. Get Report Metadata takes no `CONFIG` at all - every input is a URL path parameter.\n\nA `workspaceKey` in the format `orgid/workspacename` may be used in place of the numeric workspace ID in the URL path.\n\n`CONFIG` has a maximum serialized size of 10 MB for both Create and Update. The nested arrays `axisColumns`, `mergeAxisInfo`, `filters` and `userFilters` are the ones that realistically approach it.\n\n## OAuth scopes\n\n| API | Method | Scope |\n|---|---|---|\n| Create Analysis View | POST | `ZohoAnalytics.modeling.create` |\n| Update Analysis View | PUT | `ZohoAnalytics.modeling.update` |\n| Get Report Metadata | GET | `ZohoAnalytics.modeling.read` |\n\n## Response envelope\n\nEvery response follows the standard Zoho Analytics V2 envelope.\n\n**Update Analysis View returns a bare HTTP 204 No Content on success** - there is no JSON body to parse. Create Analysis View and Get Report Metadata return the envelope below; every API returns it on failure.\n\n- **status** - `success` or `failure`. Present in the JSON success responses of Create Analysis View and Get Report Metadata, and in every failure response.\n- **summary** - human readable message describing the result. Present only in the JSON success responses of Create Analysis View and Get Report Metadata.\n- **data.viewId** - Create only. The ID of the newly created analysis view; use it in the URL of later Update and Get Report Metadata calls.\n- **data.reportConfig** - Get Report Metadata only. The full stored configuration of the view.\n- **errorCode** and **errorMessage** - failure only.\n\n## Update is a reset, not a patch\n\nUpdate Analysis View replaces the whole configuration. Every axis column, filter, user filter and settings entry is overwritten with what was sent, fields that are omitted revert to their empty defaults, and `description` is cleared if it is left out. Always fetch, modify, then write back the complete configuration.\n\n**Read-modify-write**\n\n1. `GET /restapi/v2/workspaces/{workspace-id}/reports/{view-id}/metadata` and take `data.reportConfig`.\n2. Change only what needs to change - for example `chartType` from `bar` to `line`, or appending one entry to `axisColumns`. Carry the full `axisColumns`, `filters` and `userFilters` arrays through; anything dropped here is permanently removed from the view.\n3. `PUT` the complete modified object back as `CONFIG`.\n\n**Cloning a view**\n\n`data.reportConfig` is structurally identical to the Create `CONFIG`, so it doubles as a clone template. Give the clone a `title` that is unique in the workspace, keep `baseTableName`, and add `folderId` only if the copy belongs somewhere other than the default folder. When cloning across workspaces, every `columnName` and `tableName` in `axisColumns` must exist in the target workspace's base table.\n\n## Fields that behave unexpectedly on Update\n\n| Field | Behaviour | Recommendation |\n|---|---|---|\n| `title` | Silently ignored; the existing display name is always preserved. There is no V2 field to rename a view through Update. | Send it for clarity if you like, knowing it does nothing. |\n| `reportType` | Cannot be changed. A value that does not match the existing view type fails with error 8021. | Carry it unchanged from the Get Report Metadata response. |\n| `folderId` | If it differs from the view's current folder the request fails. The same value is a harmless no-op. | Omit it. It is not returned by Get Report Metadata, so it is naturally absent when the response is used as the base. |\n| `description` | Read from the CONFIG on every write. If absent it is set to null, clearing it. | Copy it from the Get Report Metadata response. |\n| `baseTableName` | Derived from the view's stored parent reference, not from the CONFIG. | Harmless to include; it has no effect. |\n| `axisColumns`, `filters`, `userFilters` | Fully replaced. Omitting them removes everything. | Send the full arrays unless the intent is to clear them. |\n| `mergeAxisInfo` | Required whenever `isAxisMerge` is true. | Omit both when axis merge is off. |\n\n## Axis type casing\n\nThe request samples use camelCase (`xAxis`, `yAxis`, `colorAxis`) while Get Report Metadata returns lowercase (`xaxis`, `yaxis`, `coloraxis`, `sizeaxis`, `textaxis`, `groupby`, `summarize`). The lowercase forms are documented as canonical. When building a `CONFIG` from a metadata response, copy the `type` values verbatim rather than re-casing them."
    },
    {
      "name": "Dashboard",
      "x-zenesis-description-pageName": "Dashboards Overview",
      "description": "APIs for listing dashboards accessible to a user, and for creating, reading and updating dashboards inside a workspace.\n\nThe module splits into two families that behave differently.\n\n- **Listing APIs** - Get All Dashboards, Get Owned Dashboards and Get Shared Dashboards. These operate at user service level and return dashboards across every organization the caller belongs to. No `ZANALYTICS-ORGID` header is needed, and the OAuth token must be issued with user level scope.\n- **Workspace-scoped APIs** - Create Dashboard, Get Dashboard Metadata and Update Dashboard. These operate on one workspace and require the `ZANALYTICS-ORGID` header.\n\n## Common request conventions\n\n| Header | Value | Required |\n|---|---|---|\n| `Authorization` | `Zoho-oauthtoken <oauth-token>` | Mandatory for every API |\n| `ZANALYTICS-ORGID` | Organization ID owning the workspace | Workspace-scoped APIs only |\n| `Content-Type` | `application/x-www-form-urlencoded` | Create and Update only |\n\nGet Shared Dashboards works on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped APIs are reachable on custom domains subject to additional permission checks.\n\n## OAuth scopes\n\n| API | Method | Scope |\n|---|---|---|\n| Get All Dashboards | GET | `ZohoAnalytics.metadata.read` |\n| Get Owned Dashboards | GET | `ZohoAnalytics.metadata.read` |\n| Get Shared Dashboards | GET | `ZohoAnalytics.metadata.read` |\n| Create Dashboard | POST | `ZohoAnalytics.modeling.create` |\n| Get Dashboard Metadata | GET | `ZohoAnalytics.modeling.read` |\n| Update Dashboard | PUT | `ZohoAnalytics.modeling.update` |\n\n## Response envelope\n\n- **status** - `success` or `failure`.\n- **summary** - human readable description of the completed operation.\n- **data.ownedViews** and **data.sharedViews** - Get All Dashboards only.\n- **data.views** - Get Owned Dashboards and Get Shared Dashboards; a single list, owned-only or shared-only depending on the endpoint.\n- **data.dashboardId** and **data.displayName** - Create Dashboard only.\n- **data.dashboardConfig** - Get Dashboard Metadata only.\n\n`viewId`, `workspaceId` and `orgId` are returned as strings even though the underlying values are long integers. `createdTime` and `lastModifiedTime` are epoch timestamps in milliseconds, as strings - divide by 1000 for epoch seconds. `sharedBy` is present on every entry, empty in owned items and populated with an email in shared ones. `isFavorite` is user specific and reflects the requesting user.\n\n`dashboardConfig.objId`, `data.dashboardId` and `viewId` are the same value under three different names.\n\n## Update replaces sections wholesale\n\nUpdate Dashboard does not merge. When `layout`, `themes` or `settings` is included, every stored row for that section is deleted and exactly what was sent is stored in its place. Sending `{\"settings\":{\"enableGlobalUF\":\"true\"}}` reverts every other setting to its system default. A section left out of the CONFIG is not touched.\n\n**Read-modify-write**\n\n1. `GET .../metadata?CONFIG={\"include\":\"settings\"}` to fetch just the section being changed.\n2. Merge the change into the returned object, keeping every key that came back.\n3. `PUT` the complete section.\n\n**Adding a layout card without losing the others**\n\nThe layout is a complete card map keyed by index string. Fetch it with `include=layout`, append the new card under the next sequential key, and PUT the whole map back.\n\n**Cloning a dashboard**\n\nFetch the full metadata, take `layout`, `themes` and `settings` from `dashboardConfig`, drop `objId`, `displayName` and `description` (they are read-only in the response and are not valid Create CONFIG fields other than `displayName`/`description`, which must be supplied fresh), then POST with a new `displayName`. The `viewName` values inside `layout` must match views that exist in the target workspace.\n\n## Behaviour worth knowing before the first call\n\n| Case | Behaviour | Recommendation |\n|---|---|---|\n| Partial `settings` on Update | Only the keys sent are stored; the rest revert to defaults. | Send the full settings object fetched via GET. |\n| Section omitted on Update | Left unchanged. | Include only the sections being replaced. |\n| `layoutType` grid preset (1-4) | The server auto-injects a USERFILTERS card at index `\"1\"` and rearranges view cards into columns, renumbering the input. | Omit `layoutType`, or send 0, for free form layouts; confirm with a GET afterwards. |\n| `viewName` in a layout card | Identifies an analysis view by display name, not ID. A renamed or deleted view renders as a broken card. | Verify view names through the Reports APIs first. |\n| Resetting the theme | `{\"themes\":{\"default\":\"true\"}}` clears all theme customization in one call. | Use it to undo theme changes without knowing the original values. |\n| Tabbed dashboards | Get Dashboard Metadata and Update Dashboard fail with error 8102. | Check the dashboard type first. |\n| `include` with several sections | `include=themes,layout` returns both sections but omits `objId`, `displayName` and `description`. | Use `include=all` when identity fields are needed, such as for clone workflows. |\n| Scalar types in the response | Theme and settings scalars come back as strings even where the CONFIG accepts numbers. | Coerce before comparing, and send back the form the CONFIG documents. |"
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "x-zenesis-title": "Create Analysis View",
        "summary": "Create Analysis View",
        "description": "Creates a new analysis view - a chart, a pivot table or a summary view - in the specified workspace, based on a referenced base table. The view is configured through the CONFIG JSON parameter, which specifies the report type, the axis columns, the filters and the visualization settings.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or a Workspace Admin, or a Shared User, or a Group Member, or any user with Create Report permission on the workspace.",
        "operationId": "createReport",
        "x-zenesis-sections": {
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format <b>orgid/workspacename</b> (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n</span></blockquote>"
            }
          },
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "configUrlEncoded",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter must be sent as a URL encoded JSON string in a form field named <b>CONFIG</b>, with the content type <b>application/x-www-form-urlencoded</b>.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "chartOnlyAttributes",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<b>chartType</b>, <b>isAxisMerge</b> and <b>mergeAxisInfo</b> apply only when <b>reportType</b> is chart. <b>chartType</b> is required for chart views, and <b>mergeAxisInfo</b> must be supplied whenever <b>isAxisMerge</b> is true.\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "axisTypeCasing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nAxis type casing differs between request and response. The Create and Update samples use camelCase (<b>xAxis</b>, <b>yAxis</b>, <b>colorAxis</b>), while Get Report Metadata returns the lowercase forms (<b>xaxis</b>, <b>yaxis</b>, <b>coloraxis</b>, <b>sizeaxis</b>, <b>textaxis</b>, <b>groupby</b>, <b>summarize</b>), which the documentation states are the canonical values. When building a Create or Update CONFIG from a Get Report Metadata response, copy the axis type values verbatim.\n</span></blockquote>"
            },
            "4": {
              "type": "editor",
              "x-zenesis-shared-note": "configSizeLimit",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter has a maximum serialized size of 10 MB. Ensure that the nested arrays - <b>axisColumns</b>, <b>mergeAxisInfo</b>, <b>filters</b> and <b>userFilters</b> - do not push the total CONFIG payload beyond this limit.\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "reportCloneWorkflow",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe <b>reportConfig</b> object returned by Get Report Metadata is structurally identical to the Create CONFIG, so it can be used directly as a clone template. Change <b>title</b> to a value that is unique in the workspace, keep <b>baseTableName</b>, and verify that every <b>columnName</b> and <b>tableName</b> exists in the target workspace's base table before posting.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the analysis view is created.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "barChartRankingFilter": {
                  "description": "Bar chart",
                  "summary": "Creates a bar chart of sales by product, restricted to the top five products by average cost.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "reportType": "chart",
                      "chartType": "bar",
                      "title": "Top Products by Average Cost",
                      "description": "Bar chart filtered to top 5 products by average cost",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Product",
                          "tableName": "Sales",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "count"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "average",
                          "filterType": "ranking",
                          "values": [
                            "Top 5"
                          ],
                          "rankingColumn": "Product Category",
                          "exclude": false
                        }
                      ]
                    }
                  }
                },
                "pivotWithWindowFunctions": {
                  "description": "Pivot table",
                  "summary": "Creates a pivot table of product by year with percentage-of-total and percentage-of-column calculations, and explicit layout and theme settings.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "reportType": "pivot",
                      "title": "Sales Pivot - Region by Year",
                      "description": "Pivot showing sales and cost with percentage-of-total calculations",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Product",
                          "operation": "actual"
                        },
                        {
                          "type": "row",
                          "columnName": "Date",
                          "operation": "dateTime"
                        },
                        {
                          "type": "column",
                          "columnName": "Date",
                          "operation": "year"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "average",
                          "windowFunction": {
                            "type": "pctOfTotal"
                          }
                        },
                        {
                          "type": "data",
                          "columnName": "Cost",
                          "operation": "stdDev"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "distinctCount",
                          "windowFunction": {
                            "type": "pctOfCol",
                            "baseField": "Product",
                            "baseFieldPosition": "row"
                          }
                        }
                      ],
                      "settings": {
                        "layout": {
                          "defaultWidth": 143
                        },
                        "themes": {
                          "themeType": 4,
                          "themeFontSize": 14,
                          "themeRowSpacing": 2
                        }
                      }
                    }
                  }
                },
                "comboChartMergedAxes": {
                  "description": "Merged axes chart",
                  "summary": "Creates a combo chart whose two y-axes are merged onto a single scale, with a multi-select product user filter, placed in a specific folder.",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "reportType": "chart",
                      "chartType": "combo",
                      "title": "Sales vs Cost - Merged Axes",
                      "description": "Combo chart with two y-axes merged and a multi-select product filter",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Product",
                          "tableName": "Sales",
                          "operation": "actual",
                          "displayName": ""
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "min"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "isAxisMerge": true,
                      "mergeAxisInfo": [
                        {
                          "axisIndex": [
                            2,
                            3
                          ],
                          "labelName": "Sales & Cost"
                        }
                      ],
                      "userFilters": [
                        {
                          "tableName": "Sales",
                          "columnName": "Product",
                          "operation": "actual",
                          "compType": "multiSelect",
                          "filterType": "individualValues",
                          "isallval": false,
                          "values": [
                            "Bread",
                            "CD"
                          ],
                          "exclude": false
                        }
                      ],
                      "folderId": 466206000000091001
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The analysis view was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                },
                "examples": {
                  "chartCreated": {
                    "description": "Chart created",
                    "summary": "A chart view was created and its view ID returned.",
                    "value": {
                      "status": "success",
                      "summary": "Chart view created successfully.",
                      "data": {
                        "viewId": "466206000000105001"
                      }
                    }
                  },
                  "pivotCreated": {
                    "description": "Pivot created",
                    "summary": "A pivot view was created and its view ID returned.",
                    "value": {
                      "status": "success",
                      "summary": "Pivot view created successfully.",
                      "data": {
                        "viewId": "466206000000106002"
                      }
                    }
                  },
                  "summaryCreated": {
                    "description": "Summary created",
                    "summary": "A summary view was created and its view ID returned.",
                    "value": {
                      "status": "success",
                      "summary": "Summary view created successfully.",
                      "data": {
                        "viewId": "466206000000107003"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Provide a valid workspace ID in the URL."
              },
              {
                "name": "7104",
                "description": "The specified base table does not exist in the workspace.",
                "resolution": "Ensure baseTableName matches an existing table in the workspace."
              },
              {
                "name": "7111",
                "description": "A view with the given title already exists in the workspace.",
                "resolution": "Choose a title that is unique within the workspace."
              },
              {
                "name": "7301",
                "description": "User does not have permission to create a report.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, Workspace Admin, Shared User, Group Member, or has Create Report permission on the workspace."
              },
              {
                "name": "8021",
                "description": "Invalid view type specified.",
                "resolution": "Set reportType to chart, pivot or summary."
              },
              {
                "name": "8050",
                "description": "Invalid value provided.",
                "resolution": "Check that all CONFIG field values are within the allowed ranges and types."
              },
              {
                "name": "8075",
                "description": "Invalid chart type parameter.",
                "resolution": "Provide a valid chartType value, such as bar, line or pie."
              },
              {
                "name": "8119",
                "description": "Invalid value for attribute.",
                "resolution": "Verify that all attribute values in axisColumns, filters and settings conform to the allowed constraints."
              },
              {
                "name": "8252",
                "description": "Invalid report type.",
                "resolution": "Ensure reportType is chart, pivot or summary."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}": {
      "put": {
        "tags": [
          "Reports"
        ],
        "x-zenesis-title": "Update Analysis View",
        "summary": "Update Analysis View",
        "description": "Resets and updates the configuration of an existing analysis view in the specified workspace. The whole view configuration - axis columns, filters, user filters, chart type and settings - is replaced with the values provided in the CONFIG parameter, so anything that is omitted reverts to its empty default. Fetch the current configuration with Get Report Metadata, modify it, and send the complete object back.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or the View Owner, or a Shared User, or a Group Member, or any user with Design Modify permission on the view.",
        "operationId": "updateReport",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "reportFullReset",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nUpdate Analysis View performs a full configuration reset, not a patch.<ul><li>Every axis column, filter, user filter and settings entry is replaced with the values sent in the CONFIG.</li><li>Fields that are not provided revert to their empty defaults - omitting <b>axisColumns</b>, <b>filters</b> or <b>userFilters</b> clears them.</li><li><b>description</b> is cleared if it is omitted.</li><li>Always fetch the current state with Get Report Metadata, modify it, then send the complete configuration back.</li></ul>\n</span></blockquote>"
            }
          },
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format <b>orgid/workspacename</b> (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n</span></blockquote>"
            }
          },
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "configUrlEncoded",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter must be sent as a URL encoded JSON string in a form field named <b>CONFIG</b>, with the content type <b>application/x-www-form-urlencoded</b>.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "reportReadOnlyFields",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe following fields cannot be changed through Update Analysis View:<ul><li><b>title</b> - silently ignored; the existing display name is always preserved.</li><li><b>folderId</b> - the request fails if the value differs from the view's current folder. Omit it entirely.</li><li><b>reportType</b> - must match the existing view type. A mismatch fails with error code 8021.</li><li><b>baseTableName</b> - derived from the view's stored parent reference. Sending it is harmless but has no effect.</li></ul>\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "chartOnlyAttributes",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<b>chartType</b>, <b>isAxisMerge</b> and <b>mergeAxisInfo</b> apply only when <b>reportType</b> is chart. <b>chartType</b> is required for chart views, and <b>mergeAxisInfo</b> must be supplied whenever <b>isAxisMerge</b> is true.\n</span></blockquote>"
            },
            "4": {
              "type": "editor",
              "x-zenesis-shared-note": "axisTypeCasing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nAxis type casing differs between request and response. The Create and Update samples use camelCase (<b>xAxis</b>, <b>yAxis</b>, <b>colorAxis</b>), while Get Report Metadata returns the lowercase forms (<b>xaxis</b>, <b>yaxis</b>, <b>coloraxis</b>, <b>sizeaxis</b>, <b>textaxis</b>, <b>groupby</b>, <b>summarize</b>), which the documentation states are the canonical values. When building a Create or Update CONFIG from a Get Report Metadata response, copy the axis type values verbatim.\n</span></blockquote>"
            },
            "5": {
              "type": "editor",
              "x-zenesis-shared-note": "configSizeLimit",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter has a maximum serialized size of 10 MB. Ensure that the nested arrays - <b>axisColumns</b>, <b>mergeAxisInfo</b>, <b>filters</b> and <b>userFilters</b> - do not push the total CONFIG payload beyond this limit.\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "updateNoResponseBody",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis API returns no response body on success - only an HTTP 204 No Content status. There is no JSON payload to parse; check the HTTP status code alone. Only failure responses carry a JSON error payload.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the analysis view to update.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "changeChartType": {
                  "description": "Chart type change",
                  "summary": "Switches the view to a line chart and replaces its axis columns with a month-year x-axis and two measures.",
                  "value": {
                    "CONFIG": {
                      "reportType": "chart",
                      "chartType": "line",
                      "description": "Rolling 12-month trend",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "monthYear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "sum"
                        }
                      ]
                    }
                  }
                },
                "pivotWithFilter": {
                  "description": "Pivot filter update",
                  "summary": "Replaces the axis configuration of a pivot view, applies a year filter and sets the layout and theme.",
                  "value": {
                    "CONFIG": {
                      "reportType": "pivot",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Region",
                          "tableName": "Sales"
                        },
                        {
                          "type": "column",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "year"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "actual",
                          "filterType": "year",
                          "values": [
                            "2024",
                            "2025"
                          ],
                          "exclude": false
                        }
                      ],
                      "settings": {
                        "layout": {
                          "defaultWidth": 120
                        },
                        "themes": {
                          "themeType": 2,
                          "themeFontSize": 13,
                          "themeRowSpacing": 2
                        }
                      }
                    }
                  }
                },
                "enableAxisMerge": {
                  "description": "Enable axis merge",
                  "summary": "Turns on axis merge across two of the y-axes of a combo chart and applies a custom theme.",
                  "value": {
                    "CONFIG": {
                      "reportType": "chart",
                      "chartType": "combo",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Product",
                          "tableName": "Sales",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "count"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "count"
                        }
                      ],
                      "isAxisMerge": true,
                      "mergeAxisInfo": [
                        {
                          "axisIndex": [
                            2,
                            5
                          ],
                          "labelName": "Sales & Cost Metrics"
                        }
                      ],
                      "settings": {
                        "themes": {
                          "themeType": 3,
                          "themeColor": "#4A90D9",
                          "themeFontSize": 12,
                          "themeRowSpacing": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis view was updated successfully. No response body is returned.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Provide a valid workspace ID in the URL."
              },
              {
                "name": "7104",
                "description": "The specified view does not exist.",
                "resolution": "Ensure the view ID in the URL corresponds to an existing analysis view."
              },
              {
                "name": "7111",
                "description": "A view with the given title already exists in the workspace.",
                "resolution": "Choose a title that is unique within the workspace."
              },
              {
                "name": "7301",
                "description": "User does not have permission to update this view.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, View Owner, Shared User, Group Member, or has Design Modify permission on the view."
              },
              {
                "name": "8021",
                "description": "Invalid view type specified.",
                "resolution": "Set reportType to chart, pivot or summary. It must match the existing view type."
              },
              {
                "name": "8050",
                "description": "Invalid value provided.",
                "resolution": "Check that all CONFIG field values are within the allowed ranges and types."
              },
              {
                "name": "8075",
                "description": "Invalid chart type parameter.",
                "resolution": "Provide a valid chartType value, such as bar, line or pie."
              },
              {
                "name": "8100",
                "description": "Operation not supported for this analysis view widget.",
                "resolution": "Ensure the update operation is valid for the current view type."
              },
              {
                "name": "8119",
                "description": "Invalid value for attribute.",
                "resolution": "Verify that all attribute values in axisColumns, filters and settings conform to the allowed constraints."
              },
              {
                "name": "8252",
                "description": "Invalid report type.",
                "resolution": "Ensure reportType is chart, pivot or summary."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}/metadata": {
      "get": {
        "tags": [
          "Reports"
        ],
        "x-zenesis-title": "Get Report Metadata",
        "summary": "Get Report Metadata",
        "description": "Retrieves the full configuration metadata of an existing analysis view - a chart, a pivot table or a summary view - in the specified workspace. The response carries the report type, the chart sub-type, the axis column definitions, the applied filters and the visualization settings exactly as they are stored.\n\nThe returned `reportConfig` is structurally identical to the Create Analysis View CONFIG, which makes this API the first step of any safe update or clone workflow.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or the View Owner, or any user with Design Modify permission on the view.",
        "operationId": "getReportMetadata",
        "x-zenesis-sections": {
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format <b>orgid/workspacename</b> (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "axisTypeCasing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nAxis type casing differs between request and response. The Create and Update samples use camelCase (<b>xAxis</b>, <b>yAxis</b>, <b>colorAxis</b>), while Get Report Metadata returns the lowercase forms (<b>xaxis</b>, <b>yaxis</b>, <b>coloraxis</b>, <b>sizeaxis</b>, <b>textaxis</b>, <b>groupby</b>, <b>summarize</b>), which the documentation states are the canonical values. When building a Create or Update CONFIG from a Get Report Metadata response, copy the axis type values verbatim.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "reportFullReset",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nUpdate Analysis View performs a full configuration reset, not a patch.<ul><li>Every axis column, filter, user filter and settings entry is replaced with the values sent in the CONFIG.</li><li>Fields that are not provided revert to their empty defaults - omitting <b>axisColumns</b>, <b>filters</b> or <b>userFilters</b> clears them.</li><li><b>description</b> is cleared if it is omitted.</li><li>Always fetch the current state with Get Report Metadata, modify it, then send the complete configuration back.</li></ul>\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "reportCloneWorkflow",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe <b>reportConfig</b> object returned by Get Report Metadata is structurally identical to the Create CONFIG, so it can be used directly as a clone template. Change <b>title</b> to a value that is unique in the workspace, keep <b>baseTableName</b>, and verify that every <b>columnName</b> and <b>tableName</b> exists in the target workspace's base table before posting.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the analysis view whose metadata is retrieved.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The metadata of the analysis view was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportMetadataResponse"
                },
                "examples": {
                  "barChartMetadata": {
                    "description": "Simple bar chart",
                    "summary": "A chart view with a single dimension on the x-axis and a single aggregated measure on the y-axis - the minimum reportConfig structure.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Bar Chart Report",
                          "description": "Vertical bar chart",
                          "reportType": "chart",
                          "chartType": "bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "bubbleChartMetadata": {
                    "description": "Bubble chart",
                    "summary": "A bubble chart using three axis types, where the sizeaxis entry drives the bubble size.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Bubble Chart",
                          "description": "Bubble chart visualization",
                          "reportType": "chart",
                          "chartType": "bubble",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            },
                            {
                              "type": "sizeaxis",
                              "columnName": "Cost",
                              "tableName": "Sales",
                              "operation": "average"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "colorAxisMetadata": {
                    "description": "Color grouped chart",
                    "summary": "A stacked bar chart that splits the bars by a categorical dimension through a coloraxis entry.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Stacked Bar Chart",
                          "description": "Stacked vertical bar chart",
                          "reportType": "chart",
                          "chartType": "stacked bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            },
                            {
                              "type": "coloraxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "filteredChartMetadata": {
                    "description": "Filtered chart",
                    "summary": "A chart saved with an active year filter, showing how the filters array is returned.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Date Filter Chart",
                          "reportType": "chart",
                          "chartType": "bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ],
                          "filters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Date",
                              "operation": "actual",
                              "filterType": "year",
                              "values": [
                                "2012",
                                "2013"
                              ],
                              "exclude": false
                            }
                          ]
                        }
                      }
                    }
                  },
                  "mergedAxisMetadata": {
                    "description": "Merged axes chart",
                    "summary": "A combo chart with axis merge active, where isAxisMerge is true and both y-axis columns are listed.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Chart With Axis Merge",
                          "description": "Chart with axis merge enabled",
                          "reportType": "chart",
                          "chartType": "combo",
                          "baseTableName": "Sales",
                          "isAxisMerge": true,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Cost",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "wildcardFilterMetadata": {
                    "description": "Wildcard filters",
                    "summary": "A chart saved with two wildcard filters on different columns, showing multiple entries in the filters array.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "V2_Chart Multiple Wildcard Filters",
                          "description": "Chart with multiple wildcard filters on different columns",
                          "reportType": "chart",
                          "chartType": "bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ],
                          "filters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Product",
                              "operation": "actual",
                              "filterType": "wildcard",
                              "values": [],
                              "exclude": false
                            },
                            {
                              "tableName": "Sales",
                              "columnName": "Region",
                              "operation": "actual",
                              "filterType": "wildcard",
                              "values": [],
                              "exclude": false
                            }
                          ]
                        }
                      }
                    }
                  },
                  "heatMapMetadata": {
                    "description": "Heat map chart",
                    "summary": "A heat map where the color axis carries the aggregated measure rather than a grouping dimension.",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Heat Map Chart",
                          "description": "Heat map visualization",
                          "reportType": "chart",
                          "chartType": "heat map",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "coloraxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Provide a valid workspace ID in the URL."
              },
              {
                "name": "7104",
                "description": "The specified view does not exist in the workspace.",
                "resolution": "Ensure the view ID in the URL corresponds to an existing analysis view."
              },
              {
                "name": "7301",
                "description": "User does not have permission to view this report's metadata.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, View Owner, or has Design Modify permission on the view."
              },
              {
                "name": "8021",
                "description": "Invalid view type for the requested operation.",
                "resolution": "Ensure the target view is an analysis view - a chart, pivot or summary view."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Get All Dashboards",
        "summary": "Get All Dashboards",
        "description": "Returns all dashboards accessible to the authenticated user - both those owned by the user and those shared with them - across every organization and workspace. The response groups the results into two separate lists, `ownedViews` and `sharedViews`.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.",
        "operationId": "getDashboards",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "userScopeListing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a user service level API - it returns dashboards across every organization the caller belongs to.<ul><li>The <b>ZANALYTICS-ORGID</b> header is not required.</li><li>The OAuth token must be issued with user level scope.</li></ul>\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardCustomDomain",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nGet Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n</span></blockquote>"
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardsResponse"
                },
                "examples": {
                  "ownedAndShared": {
                    "description": "Owned and shared",
                    "summary": "The user owns two dashboards and has one more shared with them.",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "ownedOnly": {
                    "description": "Owned only",
                    "summary": "The user owns one dashboard and nothing has been shared with them, so sharedViews comes back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": []
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "No dashboards",
                    "summary": "The user has no dashboards at all and both lists come back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [],
                        "sharedViews": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "User does not have permission to retrieve dashboards.",
                "resolution": "Ensure the request uses a valid OAuth token for an active Zoho Analytics user."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/owned": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Get Owned Dashboards",
        "summary": "Get Owned Dashboards",
        "description": "Returns the list of dashboards owned by the authenticated user across every organization, as a single `views` array.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user must be an Account Admin.",
        "operationId": "getOwnedDashboards",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "userScopeListing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a user service level API - it returns dashboards across every organization the caller belongs to.<ul><li>The <b>ZANALYTICS-ORGID</b> header is not required.</li><li>The OAuth token must be issued with user level scope.</li></ul>\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardCustomDomain",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nGet Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n</span></blockquote>"
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleWorkspaces": {
                    "description": "Multiple workspaces",
                    "summary": "The Account Admin owns dashboards in two different workspaces and organizations.",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000305020",
                            "viewName": "HR Headcount Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000300000",
                            "createdTime": "1716912000000",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1720339200000",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000300000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "singleDashboard": {
                    "description": "Single dashboard",
                    "summary": "The Account Admin owns one dashboard.",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "No dashboards",
                    "summary": "The Account Admin owns no dashboards and the list comes back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "User does not have permission to retrieve owned dashboards.",
                "resolution": "Ensure the authenticated user is an Account Admin."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/shared": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Get Shared Dashboards",
        "summary": "Get Shared Dashboards",
        "description": "Returns all dashboards that have been shared with the authenticated user across every organization and workspace, as a single `views` array. Unlike Get All Dashboards, this endpoint returns only shared dashboards, and it is also available on custom domains.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.",
        "operationId": "getSharedDashboards",
        "x-zenesis-sections": {
          "apiInfo": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "userScopeListing",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a user service level API - it returns dashboards across every organization the caller belongs to.<ul><li>The <b>ZANALYTICS-ORGID</b> header is not required.</li><li>The OAuth token must be issued with user level scope.</li></ul>\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardCustomDomain",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nGet Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n</span></blockquote>"
            }
          }
        },
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleShared": {
                    "description": "Multiple shared",
                    "summary": "Two dashboards from different organizations have been shared with the user; sharedBy carries the email of each sharer.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "favoriteShared": {
                    "description": "Favorite shared",
                    "summary": "One shared dashboard that the requesting user has marked as a favorite.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "No dashboards",
                    "summary": "Nothing has been shared with the user and the list comes back empty.",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7301",
                "description": "User does not have permission to retrieve shared dashboards.",
                "resolution": "Ensure the request uses a valid OAuth token for an active Zoho Analytics user."
              },
              {
                "name": "8535",
                "description": "Invalid OAuth token.",
                "resolution": "Provide a valid, non-expired OAuth token in the Authorization header."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "x-zenesis-title": "Create Dashboard",
        "summary": "Create Dashboard",
        "description": "Creates a new dashboard in the specified workspace. The dashboard is defined through the CONFIG JSON parameter, which carries the display name, the layout card map and, optionally, the visual theme and the behaviour settings.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or a Workspace Admin, or a Shared User, or a Group Member, or any user with Create Report permission on the workspace.",
        "operationId": "createDashboard",
        "x-zenesis-sections": {
          "apiRequest": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "orgIdHeader",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThis is a workspace-scoped API. The <b>ZANALYTICS-ORGID</b> header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format <b>orgid/workspacename</b> (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n</span></blockquote>"
            }
          },
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "configUrlEncoded",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nThe CONFIG parameter must be sent as a URL encoded JSON string in a form field named <b>CONFIG</b>, with the content type <b>application/x-www-form-urlencoded</b>.\n</span></blockquote>"
            },
            "2": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardViewNameByName",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nA VIEW card identifies an analysis view by its display name in <b>viewName</b>, not by its ID. If the referenced view is renamed or deleted the card renders as broken, and when cloning across workspaces the <b>viewName</b> values must be updated to match views that exist in the target workspace.\n</span></blockquote>"
            },
            "3": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardLayoutTypePreset",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\nWhen <b>layoutType</b> is set to a grid preset (1 to 4), the server auto-injects a USERFILTERS card at position \"1\" and rearranges the view cards into columns, so the card indices that were sent may be renumbered. Omit <b>layoutType</b>, or set it to 0, for a free form layout, and call Get Dashboard Metadata afterwards to confirm the layout that was actually stored.\n</span></blockquote>"
            }
          },
          "apiResponseParameters": {
            "1": {
              "type": "editor",
              "x-zenesis-shared-note": "dashboardIdEquivalence",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<b>dashboardConfig.objId</b> in the metadata response, <b>data.dashboardId</b> in the Create Dashboard response and <b>viewId</b> in the listing APIs are the same value under three different field names. Any of them can be used as the dashboard ID in the URL path.\n</span></blockquote>"
            }
          }
        },
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the dashboard is created.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateDashboardConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "minimalDashboard": {
                  "description": "Minimal dashboard",
                  "summary": "Creates a free form dashboard holding two view cards side by side, with the default theme.",
                  "value": {
                    "CONFIG": {
                      "displayName": "Sales Overview",
                      "description": "Monthly sales KPIs",
                      "layout": {
                        "1": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 0,
                          "top": 0,
                          "viewName": "Monthly_Sales_Chart",
                          "properties": {}
                        },
                        "2": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 40,
                          "top": 0,
                          "viewName": "Sales_Pivot",
                          "properties": {}
                        }
                      }
                    }
                  }
                },
                "gradientThemeDashboard": {
                  "description": "Gradient theme",
                  "summary": "Creates a dashboard with a linear gradient background, custom card styling, a global user filter and exports restricted to CSV.",
                  "value": {
                    "CONFIG": {
                      "displayName": "Dashboard_Gradient_Linear_3",
                      "themes": {
                        "layoutType": 6,
                        "type": "gradient",
                        "gradient": {
                          "background": "#bf00ff",
                          "startColor": "#bf00ff",
                          "endColor": "#000000",
                          "mode": "linear",
                          "linear": {
                            "angle": 270
                          }
                        },
                        "font": {
                          "color": "#bf00ff",
                          "family": "arial"
                        },
                        "card": {
                          "background": "#00ff00",
                          "opacity": 0.2,
                          "blur": 5,
                          "margin": 10,
                          "radius": 5,
                          "shadow": 3,
                          "paletteType": 2
                        },
                        "chartEffect": {
                          "apply": 2,
                          "type": 1
                        },
                        "palette": {
                          "chart": {
                            "type": "SOLID__BUSINESS"
                          }
                        }
                      },
                      "settings": {
                        "allowDrillDown": "true",
                        "smartAlignCharts": "true",
                        "reportAsFilter": "true",
                        "showContextualOptions": "false",
                        "allowExport": {
                          "csv": "true"
                        },
                        "fitToWidth": "false",
                        "enableGlobalUF": "true",
                        "applyImmediateUF": "true"
                      },
                      "layout": {
                        "1": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 0,
                          "top": 8,
                          "viewName": "Chart2",
                          "properties": {}
                        },
                        "2": {
                          "type": "USERFILTERS",
                          "width": 80,
                          "height": 3,
                          "left": 0,
                          "top": 0
                        }
                      }
                    }
                  }
                },
                "imageThemeDashboard": {
                  "description": "Image theme",
                  "summary": "Creates a dashboard with an image background alongside an HTML card, an image card and a view card.",
                  "value": {
                    "CONFIG": {
                      "displayName": "Dashboard_Image_Theme_6",
                      "themes": {
                        "layoutType": 6,
                        "type": "image",
                        "image": {
                          "url": "https://example.com/bg.jpg",
                          "brightness": 2,
                          "flip": "true",
                          "transparency": "40",
                          "fitType": "2",
                          "contrast": 5,
                          "background": "#bf00ff"
                        },
                        "font": {
                          "color": "#bf00ff",
                          "family": "arial"
                        },
                        "card": {
                          "background": "#00ff00",
                          "opacity": 0.2,
                          "blur": 5,
                          "margin": 10,
                          "radius": 5,
                          "shadow": 3,
                          "paletteType": 2
                        },
                        "chartEffect": {
                          "apply": 1
                        },
                        "palette": {
                          "chart": {
                            "type": "SOLID__BUSINESS"
                          }
                        }
                      },
                      "layout": {
                        "1": {
                          "type": "HTML",
                          "width": 80,
                          "height": 5,
                          "left": 0,
                          "top": 0,
                          "content": "<div><h2 style=\"font-family: Arial\">Dashboard Header</h2></div>"
                        },
                        "2": {
                          "type": "IMAGE",
                          "width": 40,
                          "height": 15,
                          "left": 0,
                          "top": 5,
                          "content": "https://example.com/logo.png"
                        },
                        "3": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 40,
                          "top": 5,
                          "viewName": "Pivot",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDashboardResponse"
                },
                "examples": {
                  "dashboardCreated": {
                    "description": "Dashboard created",
[...]
