{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for managing users and groups in Zoho Analytics — covering org-level users, workspace-level users, and workspace groups."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Org Users",
      "description": "APIs that allow the Account Admin and the Organization Admins of a Zoho Analytics organization to manage its users - listing, adding, removing, activating, deactivating and changing the org-level role of the users, and listing the users who hold the Organization Admin role.\n\nThese APIs operate at the organization level. They govern the membership and role of a user within the organization, and not their access to individual workspaces, which is handled by the workspace sharing APIs.\n\nZoho Analytics also supports Client Portal (White Label) deployments, where an organization can have one or more custom-branded portal domains. When the Account Admin of the organization is also a Client Portal Admin, the write APIs in this group can be scoped to a specific portal domain using the `domainName` field in CONFIG. Users belonging to a portal domain are managed independently of the main organization domain, and `domainName` must be a valid portal domain owned by the Account Admin of the organization."
    },
    {
      "name": "Workspace Users",
      "description": "APIs that manage the users and the administrators of a single Zoho Analytics workspace - controlling who has access to the workspace, the role they hold within it, and whether that access is currently active.\n\nThese APIs complement the org-level user management APIs. Org-level management controls who is a member of the organization at all, while workspace-level management controls which of those members can access a specific workspace and in what capacity.\n\nWhen the Account Admin of the organization is also a Client Portal Admin, the operations in this group can be scoped to a specific portal domain using the `domainName` field in CONFIG. Users belonging to a portal domain are listed and managed separately from the standard Zoho Analytics users."
    },
    {
      "name": "Workspace Groups",
      "description": "APIs that manage the groups of a Zoho Analytics workspace. A group is a named collection of users within a single workspace.\n\nGroups are the building block for bulk view-level access management. When a view is shared with a group, every current and future member of that group inherits that sharing - which makes group membership the way to batch-update the sharing permissions of several users at once. Adding a member grants them access to every view currently shared with the group, removing a member revokes that access unless they hold it through another path, and deleting a group revokes it for every member simultaneously.\n\nGroups are scoped to a single workspace, and their members must already be users of that workspace. When the Account Admin of the organization is also a Client Portal Admin, a group can be scoped to a specific portal domain using the `domainName` field at creation. That association is fixed for the life of the group, and the member management APIs resolve the domain context from the group rather than taking it as an attribute."
    }
  ],
  "paths": {
    "/restapi/v2/orgadmins": {
      "get": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Get Org Admins",
        "summary": "Get Org Admins",
        "description": "Returns the email addresses of the users who currently hold the Organization Admin role in the specified organization. This is a convenience endpoint that is equivalent to filtering the Get Users response for the Organization Admin role.",
        "operationId": "getOrgAdmins",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrgAdminsResponse"
                },
                "examples": {
                  "singleOrgAdmin": {
                    "description": "Single admin",
                    "summary": "Organization with exactly one Organization Admin.",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": [
                          "orgadmin@example.com"
                        ]
                      }
                    }
                  },
                  "multipleOrgAdmins": {
                    "description": "Multiple admins",
                    "summary": "Organization with several Organization Admins.",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": [
                          "orgadmin1@example.com",
                          "orgadmin2@example.com",
                          "regional.admin@example.com"
                        ]
                      }
                    }
                  },
                  "noOrgAdmins": {
                    "description": "No admins",
                    "summary": "Organization where no Organization Admin has been assigned - all admin operations are handled by the Account Admin.",
                    "value": {
                      "status": "success",
                      "summary": "Get org admins",
                      "data": {
                        "orgAdmins": []
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not the Account Admin of the organization.",
                "resolution": "This API is strictly restricted to the Account Admin. Organization Admins and other roles cannot call this endpoint."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.share.read."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>Unlike the other organization user management APIs, which can be invoked by both the Account Admin and the Organization Admins, this API is restricted to the Account Admin of the organization. An Organization Admin invoking this API fails with error code <b>7301</b>.</li><li>When no Organization Admin has been assigned, the API returns HTTP 200 with an empty <b>orgAdmins</b> array.</li><li>The users listed here are the users whose role was set to <b>ORGADMIN</b> using the Add Users or Change User Role API.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users": {
      "get": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Get Users",
        "summary": "Get Users",
        "description": "Returns the list of all the users who are members of the specified organization, along with their current status and org-level role.\n\nThe org-level role governs what the user can do across the entire organization. It is distinct from the workspace-level role, which governs what the user can do within a specific workspace and is managed using the workspace sharing APIs.",
        "operationId": "getUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUsersResponse"
                },
                "examples": {
                  "mixedRoles": {
                    "description": "Mixed roles",
                    "summary": "Organization holding users across every org-level role, including a deactivated user.",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "analyst@acme.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "viewer1@acme.com",
                            "status": true,
                            "role": "Viewer"
                          },
                          {
                            "emailId": "inactive.user@acme.com",
                            "status": false,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "smallOrg": {
                    "description": "Small organization",
                    "summary": "Organization with only a few members and no Organization Admin assigned.",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "owner@example.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "user1@example.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "viewer@example.com",
                            "status": true,
                            "role": "Viewer"
                          }
                        ]
                      }
                    }
                  },
                  "clientPortalOrg": {
                    "description": "Client portal",
                    "summary": "Response returned when the Account Admin is also a Client Portal Admin - every user entry carries the portal domain it belongs to.",
                    "value": {
                      "status": "success",
                      "summary": "Get users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@example.com",
                            "status": true,
                            "role": "Account Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "standard.user@example.com",
                            "status": true,
                            "role": "User",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "portal.user1@client.com",
                            "status": true,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user2@client.com",
                            "status": true,
                            "role": "Viewer",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user3@partner.com",
                            "status": false,
                            "role": "User",
                            "domainName": "analytics.partnerportal.io"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.read."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>Both the Account Admin and the Organization Admins of the organization can invoke this API.</li><li>Deactivated users continue to be listed in the response with <b>status</b> set to <b>false</b>. They are not removed from the list.</li><li>A user who has been invited but has not yet accepted the invitation is not listed until they accept and join the organization.</li><li>The <b>domainName</b> field is returned for every user only when the Account Admin of the organization is also a Client Portal Admin. When the Account Admin is not a Client Portal Admin, only <b>emailId</b>, <b>status</b> and <b>role</b> are returned.</li><li>A user added through a client portal domain is scoped to that portal. Such users access Zoho Analytics only through the branded portal URL and do not appear as standard organization members.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Add Users",
        "summary": "Add Users",
        "description": "Adds one or more users to the specified organization. The invited users receive an email notification. Users who are new to Zoho are prompted to create a Zoho account before accepting the invitation.",
        "operationId": "addUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "defaultRoleInvite": {
                  "description": "Default role",
                  "summary": "Invites two users without specifying a role, so both join with the default USER role.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "alice@example.com",
                        "bob@example.com"
                      ]
                    }
                  }
                },
                "viewerInvite": {
                  "description": "Viewer role",
                  "summary": "Invites a user with read-only access to the organization.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "viewer@example.com"
                      ],
                      "role": "VIEWER"
                    }
                  }
                },
                "orgAdminInvite": {
                  "description": "Org Admin",
                  "summary": "Invites a user as an Organization Admin. Can be invoked only by the Account Admin of the organization.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "orgadmin@example.com"
                      ],
                      "role": "ORGADMIN"
                    }
                  }
                },
                "portalDomainInvite": {
                  "description": "Portal domain",
                  "summary": "Scopes the addition to a single client portal domain, so the users are added as portal users of that portal.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "client.user1@client.com",
                        "client.user2@client.com"
                      ],
                      "role": "USER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "6004",
                "description": "Adding these users would exceed the organization's user seat limit under the current plan.",
                "resolution": "Upgrade the plan to accommodate more users, or remove unused user accounts before adding new ones."
              },
              {
                "name": "6026",
                "description": "The current plan does not support adding extra users (free plan restriction).",
                "resolution": "Upgrade to a paid plan to invite additional users."
              },
              {
                "name": "6071",
                "description": "One or more of the specified email addresses is already a member of this organization.",
                "resolution": "Remove the already-existing email addresses from the emailIds list and retry."
              },
              {
                "name": "6089",
                "description": "Attempted to assign the ORGADMIN role through a custom domain (domainName). The Organization Admin role cannot be assigned through a custom portal domain.",
                "resolution": "Omit domainName when assigning the ORGADMIN role, or use a different role for domain-based additions."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.create."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The request is applied as a single batch. If any email address in the list is already a member of the organization, the request fails with error code <b>6071</b> and none of the users are added.</li><li>When <b>role</b> is not provided, the invited users join with the <b>USER</b> role.</li><li>Organization Admins can assign only the <b>USER</b> and <b>VIEWER</b> roles. Only the Account Admin of the organization can assign the <b>ORGADMIN</b> role.</li><li>The <b>ORGADMIN</b> role cannot be assigned along with <b>domainName</b>. This combination always fails with error code <b>6089</b>, irrespective of the role of the calling user.</li><li>If the addition would exceed the user seat limit of the plan, the request fails with error code <b>6004</b> before any user is added. Free plans do not support additional users and fail with error code <b>6026</b>.</li><li>An invited user is not listed by the Get Users API until they accept the invitation and join the organization.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Remove Users",
        "summary": "Remove Users",
        "description": "Removes one or more users from the specified organization. The removed users immediately lose access to all the workspaces and views in the organization.",
        "operationId": "removeUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RemoveUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleUserRemoval": {
                  "description": "Single user",
                  "summary": "Removes one user from the standard organization context.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "exemployee@example.com"
                      ]
                    }
                  }
                },
                "bulkRemoval": {
                  "description": "Multiple users",
                  "summary": "Removes several users in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com",
                        "user3@example.com"
                      ]
                    }
                  }
                },
                "portalDomainRemoval": {
                  "description": "Portal domain",
                  "summary": "Scopes the removal to a single client portal, leaving users of the main organization and of other portals untouched.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "former.client@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.delete."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>This is a permanent operation. All the workspace-level share permissions of the removed users are revoked, and the users must be invited again using the Add Users API to regain access.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>Every email address in the list must already be a member of the organization. The request fails as a whole with error code <b>8114</b> on the first non-member email address, and no user is removed.</li><li>The Account Admin of the organization cannot be removed using this API. Transfer the ownership of the organization first if the Account Admin has to be removed.</li><li>The workspaces owned by a removed user are not deleted. The workspaces and their contents remain intact, though the ownership may have to be transferred separately.</li><li>Always specify <b>domainName</b> when removing portal-scoped users. Without it, the user is looked up in the standard organization context and the request fails with error code <b>8114</b> if the user exists only in the portal domain.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users/active": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Activate Users",
        "summary": "Activate Users",
        "description": "Reactivates one or more previously deactivated users in the specified organization. Once activated, the users regain access to the organization and to all the workspaces that were shared with them earlier.",
        "operationId": "activateUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ActivateUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleReactivation": {
                  "description": "Single user",
                  "summary": "Reactivates one previously deactivated user.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "returning.employee@example.com"
                      ]
                    }
                  }
                },
                "bulkReactivation": {
                  "description": "Multiple users",
                  "summary": "Reactivates several users in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@example.com",
                        "user2@example.com"
                      ]
                    }
                  }
                },
                "portalDomainReactivation": {
                  "description": "Portal domain",
                  "summary": "Reactivates a user within a specific client portal domain.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "returning.portal.user@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "6004",
                "description": "Activating these users would exceed the organization's user seat limit.",
                "resolution": "Check the current user count using the Get Resource Details API. Upgrade the plan or remove unused users before reactivating."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The operation is idempotent. Activating an already-active user succeeds silently and raises no error.</li><li>Every email address in the list must already be a member of the organization, even if currently deactivated. Non-members cause the request to fail with error code <b>8114</b>.</li><li>A deactivated user continues to occupy a seat with respect to the plan limits. If the reactivation would exceed the user seat limit, the request fails with error code <b>6004</b>.</li><li>All the workspace shares of a deactivated user are preserved and are restored on reactivation.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users/inactive": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Deactivate Users",
        "summary": "Deactivate Users",
        "description": "Deactivates one or more users in the specified organization. Deactivated users cannot log in or access any workspace in the organization. Their data and permissions are retained and can be restored by reactivating them, which makes this the recommended approach for a temporary suspension rather than a permanent removal.",
        "operationId": "deActivateUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeactivateUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "temporarySuspension": {
                  "description": "Single user",
                  "summary": "Temporarily suspends the access of one user, for example while they are on extended leave.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "on.leave@example.com"
                      ]
                    }
                  }
                },
                "bulkDeactivation": {
                  "description": "Multiple users",
                  "summary": "Deactivates several users in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor1@example.com",
                        "contractor2@example.com"
                      ]
                    }
                  }
                },
                "portalDomainDeactivation": {
                  "description": "Portal domain",
                  "summary": "Suspends a portal user while preserving their portal-specific shares and permissions.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "suspended.portal.user@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The operation is idempotent. Deactivating an already-inactive user succeeds silently and raises no error.</li><li>Every email address in the list must already be a member of the organization. Non-members cause the request to fail with error code <b>8114</b>.</li><li>The Account Admin of the organization cannot be deactivated using this API.</li><li>All the workspace shares of the user are preserved while they are deactivated, though the user cannot access them. The shares are restored on reactivation.</li><li>Deactivation is reversible and preserves the user data, shares and role. Removal, performed using the Remove Users API, is permanent - the shares are revoked and the user has to be invited again.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/users/role": {
      "put": {
        "tags": [
          "Org Users"
        ],
        "x-zenesis-title": "Change User Role",
        "summary": "Change User Role",
        "description": "Changes the org-level role of one or more users in the specified organization. The role change takes effect immediately and the access permissions of the users across all the workspaces adjust to reflect the new role.",
        "operationId": "changeUserRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ChangeUserRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "promoteToOrgAdmin": {
                  "description": "Promote user",
                  "summary": "Promotes a standard user to Organization Admin. Can be invoked only by the Account Admin of the organization.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "analyst@example.com"
                      ],
                      "role": "ORGADMIN"
                    }
                  }
                },
                "downgradeToViewer": {
                  "description": "Downgrade users",
                  "summary": "Downgrades several users to read-only Viewer access in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor1@example.com",
                        "contractor2@example.com"
                      ],
                      "role": "VIEWER"
                    }
                  }
                },
                "resetToUser": {
                  "description": "Reset role",
                  "summary": "Resets an Organization Admin back to the standard USER role.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "formeradmin@example.com"
                      ],
                      "role": "USER"
                    }
                  }
                },
                "portalDomainRoleChange": {
                  "description": "Portal domain",
                  "summary": "Changes the role of a user within a specific client portal domain, leaving their role in the main organization unaffected.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "role": "VIEWER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Organization not found.",
                "resolution": "Verify the ZANALYTICS-ORGID header value."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Ensure the caller holds the Account Admin or Organization Admin role in the organization."
              },
              {
                "name": "6089",
                "description": "Attempted to assign the ORGADMIN role through a custom domain (domainName).",
                "resolution": "Omit domainName when assigning the Organization Admin role."
              },
              {
                "name": "8114",
                "description": "One or more of the specified email addresses are not members of this organization.",
                "resolution": "Verify all email addresses using the Get Users API before calling this API."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the calling user or to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>A maximum of 1000 email addresses can be sent in a single request. The same role is applied to every user in the list.</li><li>Organization Admins can assign only the <b>USER</b> and <b>VIEWER</b> roles. Promoting a user to <b>ORGADMIN</b> can be done only by the Account Admin of the organization, and any other caller fails with error code <b>7301</b>.</li><li>The <b>ORGADMIN</b> role cannot be assigned along with <b>domainName</b>. This combination always fails with error code <b>6089</b>, irrespective of the role of the calling user.</li><li>Every email address in the list must already be a member of the organization. Non-members cause the request to fail with error code <b>8114</b>.</li><li>The operation is idempotent. Applying the role that a user already holds succeeds silently and raises no error.</li><li>The role of a deactivated user can be changed. The new role takes effect when the user is reactivated.</li><li>Demoting an Organization Admin removes their org-wide management capabilities immediately, but does not affect their workspace-level permissions.</li><li>Setting the <b>VIEWER</b> role for a user who owns workspaces makes them read-only at the org level, but does not transfer the workspaces they own. They may continue to hold Workspace Admin access on those workspaces.</li><li>A role change performed within a client portal domain is scoped to that portal. The role of the user in the main organization and in other portals is unaffected.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/users": {
      "get": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Get Workspace Users",
        "summary": "Get Workspace Users",
        "description": "Returns the list of all the users who have access to the specified workspace, along with their workspace-level role and active status.\n\nThe response covers the Account Admin, the Organization Admins, the Workspace Admins, the standard users, and the users assigned to a custom role.",
        "operationId": "getWorkspaceUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceUsersResponse"
                },
                "examples": {
                  "mixedRoles": {
                    "description": "Mixed roles",
                    "summary": "Standard organization holding users across every workspace-level role, including a deactivated user.",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "wsadmin1@acme.com",
                            "status": true,
                            "role": "Workspace Admin"
                          },
                          {
                            "emailId": "wsadmin2@acme.com",
                            "status": true,
                            "role": "Workspace Admin"
                          },
                          {
                            "emailId": "user1@acme.com",
                            "status": true,
                            "role": "User"
                          },
                          {
                            "emailId": "user2@acme.com",
                            "status": false,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "customRoleUsers": {
                    "description": "Custom roles",
                    "summary": "Workspace holding users assigned to a custom role, listed with the exact custom role name.",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin"
                          },
                          {
                            "emailId": "wsadmin@acme.com",
                            "status": true,
                            "role": "Workspace Admin"
                          },
                          {
                            "emailId": "analyst1@acme.com",
                            "status": true,
                            "role": "AnalystRole"
                          },
                          {
                            "emailId": "analyst2@acme.com",
                            "status": false,
                            "role": "AnalystRole"
                          },
                          {
                            "emailId": "user1@acme.com",
                            "status": true,
                            "role": "User"
                          }
                        ]
                      }
                    }
                  },
                  "clientPortalUsers": {
                    "description": "Client portal",
                    "summary": "Response returned when the Account Admin is also a Client Portal Admin - every user entry carries the portal domain it was added through.",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace users",
                      "data": {
                        "users": [
                          {
                            "emailId": "admin@acme.com",
                            "status": true,
                            "role": "Account Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "orgadmin@acme.com",
                            "status": true,
                            "role": "Organization Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "wsadmin@acme.com",
                            "status": true,
                            "role": "Workspace Admin",
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "emailId": "portal.user1@client.com",
                            "status": true,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          },
                          {
                            "emailId": "portal.user2@client.com",
                            "status": false,
                            "role": "User",
                            "domainName": "reports.clientbrand.com"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify the workspace-id value in the request URI."
              },
              {
                "name": "7301",
                "description": "The calling user is not a Workspace Admin, Account Admin or Organization Admin of the workspace.",
                "resolution": "Ensure that the caller has at least Workspace Admin access to the workspace."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.read."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The calling user must be a Workspace Admin of the workspace. Account Admins and Organization Admins also have access, and an Organization Admin can view any workspace in their organization.</li><li>Deactivated users continue to be listed in the response with <b>status</b> set to <b>false</b>. They are not removed from the workspace on deactivation.</li><li>Users assigned to a custom role are listed with <b>role</b> set to the exact custom role name defined in the organization, and not to a numeric identifier.</li><li>The <b>domainName</b> field is returned for every user only when the Account Admin of the organization is also a Client Portal Admin. Standard users then show the default Zoho Analytics domain, and portal users show their portal's custom domain.</li><li>The email addresses returned by this API are the input for the Add Workspace Users, Remove Workspace Users, Change Workspace Users Status and Change Workspace Users Role APIs.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Add Workspace Users",
        "summary": "Add Workspace Users",
        "description": "Adds one or more users to the specified workspace with a given workspace-level role.\n\nThe users can be supplied in two ways - as a flat list of email addresses that all share a single role, or as up to 20 groups of users that each carry their own role and client portal domain.",
        "operationId": "addWorkspaceUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/AddWorkspaceUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "standardUserAddition": {
                  "description": "Standard users",
                  "summary": "Adds two users to the workspace with the standard User role.",
                  "x-zenesis-usecase-tag": [
                    "simple"
                  ],
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "alice@acme.com",
                        "bob@acme.com"
                      ],
                      "role": "USER"
                    }
                  }
                },
                "workspaceAdminAddition": {
                  "description": "Workspace Admin",
                  "summary": "Adds a user directly with the Workspace Admin role.",
                  "x-zenesis-usecase-tag": [
                    "simple"
                  ],
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "wsadmin@acme.com"
                      ],
                      "role": "WORKSPACEADMIN"
                    }
                  }
                },
                "portalDomainAddition": {
                  "description": "Portal domain",
                  "summary": "Scopes the addition to a single client portal domain, so the user is added as a portal user of that portal.",
                  "x-zenesis-usecase-tag": [
                    "simple"
                  ],
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "role": "USER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                },
                "bulkRoleAddition": {
                  "description": "Bulk roles",
                  "summary": "Adds two groups of users with different workspace-level roles in a single request.",
                  "x-zenesis-usecase-tag": [
                    "bulk"
                  ],
                  "value": {
                    "CONFIG": {
                      "users": [
                        {
                          "emailIds": [
                            "lead.analyst@acme.com"
                          ],
                          "role": "WORKSPACEADMIN"
                        },
                        {
                          "emailIds": [
                            "viewer1@acme.com",
                            "viewer2@acme.com"
                          ],
                          "role": "USER"
                        }
                      ]
                    }
                  }
                },
                "bulkPortalAddition": {
                  "description": "Mixed portals",
                  "summary": "Adds users belonging to two different client portal domains in a single request, each group processed in its own portal context.",
                  "x-zenesis-usecase-tag": [
                    "bulk"
                  ],
                  "value": {
                    "CONFIG": {
                      "users": [
                        {
                          "emailIds": [
                            "user1@client.com",
                            "user2@client.com"
                          ],
                          "role": "USER",
                          "domainName": "reports.clientbrand.com"
                        },
                        {
                          "emailIds": [
                            "partner@partner.io"
                          ],
                          "role": "USER",
                          "domainName": "analytics.partnerportal.io"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify the workspace-id value in the request URI."
              },
              {
                "name": "7301",
                "description": "The calling user is not a Workspace Admin, Account Admin or Organization Admin of the workspace.",
                "resolution": "Ensure that the caller has at least Workspace Admin access to the workspace."
              },
              {
                "name": "7550",
                "description": "The specified role name does not exist as a custom role in the organization.",
                "resolution": "Use WORKSPACEADMIN, USER, or the exact name of a custom role defined in the organization."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.create."
              }
            ]
          }
        },
        "x-zenesis-doc": {
          "show": true,
          "usecaseTags": {
            "simple": {
              "name": "Simple Mode Attributes",
              "description": "<p>Applicable when the same <strong>role</strong> has to be applied to every email address in the request.</p>"
            },
            "bulk": {
              "name": "Bulk Mode Attributes",
              "description": "<p>Applicable when several groups of users have to be handled with different roles or different client portal domains in a single request. A maximum of <strong>20</strong> groups can be sent, and the root level <strong>emailIds</strong>, <strong>role</strong> and <strong>domainName</strong> values are ignored when <strong>users</strong> is present.</p>"
            }
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>The calling user must be a Workspace Admin of the workspace. Account Admins and Organization Admins also have access.</li><li>A maximum of 1000 email addresses can be sent in a single list, and a maximum of 20 groups can be sent in the <b>users</b> array. Split larger operations into multiple calls.</li><li>When <b>role</b> is not provided, the users are added with the workspace-level <b>USER</b> role.</li><li>Adding a user who already has access to the workspace updates their role to the specified role. Re-adding a user with the role they already hold succeeds silently.</li><li>A custom role name must exactly match an existing custom role defined in the organization. An unknown role name fails with error code <b>7550</b>.</li><li>Always specify <b>domainName</b> for portal users. Portal-only users do not exist in the standard Zoho Analytics domain, and an addition attempted without the domain may fail.</li><li>No prerequisite API call is needed to construct the request. Invoke Get Workspace Users afterwards to verify the additions.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Remove Workspace Users",
        "summary": "Remove Workspace Users",
        "description": "Removes one or more users from the specified workspace. The removed users lose all access to this workspace immediately, while their membership in the organization and their access to other workspaces remain unaffected.",
        "operationId": "deleteWorkspaceUsers",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteWorkspaceUsersConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "singleUserRemoval": {
                  "description": "Single user",
                  "summary": "Removes one user from the workspace in the standard domain context.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "contractor@acme.com"
                      ]
                    }
                  }
                },
                "bulkRemoval": {
                  "description": "Multiple users",
                  "summary": "Removes several users from the workspace in a single request.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@acme.com",
                        "user2@acme.com",
                        "user3@acme.com"
                      ]
                    }
                  }
                },
                "portalDomainRemoval": {
                  "description": "Portal domain",
                  "summary": "Scopes the removal to a single client portal domain so that the correct portal user record is targeted.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "former.client@client.com"
                      ],
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify the workspace-id value in the request URI."
              },
              {
                "name": "7301",
                "description": "The calling user is not a Workspace Admin, Account Admin or Organization Admin of the workspace.",
                "resolution": "Ensure that the caller has at least Workspace Admin access to the workspace."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.delete."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>The calling user must be a Workspace Admin of the workspace. Account Admins and Organization Admins also have access.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>This API removes the entire workspace access of the user, including the shared views, the group memberships within the workspace, and the Workspace Admin role if they hold it. All the view-level and workspace-level permissions of the user are deleted immediately.</li><li>To revoke only the Workspace Admin role and leave the user in the workspace as a regular user, use the Remove Workspace Admins API instead.</li><li>Always specify <b>domainName</b> when removing portal users. Without it, the lookup is performed in the standard Zoho Analytics domain and a portal-only user will not be found.</li><li>Verify the membership using the Get Workspace Users API before invoking this API. The behaviour for a user who is not in the workspace depends on the domain context.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/users/role": {
      "put": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Change Workspace Users Role",
        "summary": "Change Workspace Users Role",
        "description": "Changes the workspace-level role of one or more users in the specified workspace.\n\nThe users can be supplied in two ways - as a flat list of email addresses that all move to a single role, or as up to 20 groups of users that each move to their own role and client portal domain.",
        "operationId": "changeWorkspaceUsersRole",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ChangeWorkspaceUsersRoleConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "promoteToWorkspaceAdmin": {
                  "description": "Promote user",
                  "summary": "Promotes a user to the Workspace Admin role.",
                  "x-zenesis-usecase-tag": [
                    "simple"
                  ],
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "senior.analyst@acme.com"
                      ],
                      "role": "WORKSPACEADMIN"
                    }
                  }
                },
                "customRoleAssignment": {
                  "description": "Custom role",
                  "summary": "Moves a user to a custom role defined in the organization, using the exact custom role name.",
                  "x-zenesis-usecase-tag": [
                    "simple"
                  ],
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "analyst@acme.com"
                      ],
                      "role": "AnalystRole"
                    }
                  }
                },
                "portalDomainRoleChange": {
                  "description": "Portal domain",
                  "summary": "Changes the role of a portal user within a specific client portal domain.",
                  "x-zenesis-usecase-tag": [
                    "simple"
                  ],
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "role": "USER",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                },
                "bulkRoleChange": {
                  "description": "Bulk roles",
                  "summary": "Moves two groups of users to different workspace-level roles in a single request.",
                  "x-zenesis-usecase-tag": [
                    "bulk"
                  ],
                  "value": {
                    "CONFIG": {
                      "users": [
                        {
                          "emailIds": [
                            "user1@acme.com",
                            "user2@acme.com"
                          ],
                          "role": "WORKSPACEADMIN"
                        },
                        {
                          "emailIds": [
                            "user3@acme.com",
                            "user4@acme.com"
                          ],
                          "role": "USER"
                        }
                      ]
                    }
                  }
                },
                "bulkPortalRoleChange": {
                  "description": "Mixed portals",
                  "summary": "Changes the roles of users belonging to two different client portal domains in a single request.",
                  "x-zenesis-usecase-tag": [
                    "bulk"
                  ],
                  "value": {
                    "CONFIG": {
                      "users": [
                        {
                          "emailIds": [
                            "user1@client.com"
                          ],
                          "role": "WORKSPACEADMIN",
                          "domainName": "reports.clientbrand.com"
                        },
                        {
                          "emailIds": [
                            "partner@partner.io"
                          ],
                          "role": "USER",
                          "domainName": "analytics.partnerportal.io"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify the workspace-id value in the request URI."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization. Workspace Admins cannot invoke this API.",
                "resolution": "Invoke this API using the credentials of an Account Admin or an Organization Admin."
              },
              {
                "name": "7550",
                "description": "The specified role name does not exist as a custom role in the organization.",
                "resolution": "Use WORKSPACEADMIN, USER, or the exact name of a custom role defined in the organization."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          }
        },
        "x-zenesis-doc": {
          "show": true,
          "usecaseTags": {
            "simple": {
              "name": "Simple Mode Attributes",
              "description": "<p>Applicable when the same <strong>role</strong> has to be applied to every email address in the request.</p>"
            },
            "bulk": {
              "name": "Bulk Mode Attributes",
              "description": "<p>Applicable when several groups of users have to be handled with different roles or different client portal domains in a single request. A maximum of <strong>20</strong> groups can be sent, and the root level <strong>emailIds</strong>, <strong>role</strong> and <strong>domainName</strong> values are ignored when <strong>users</strong> is present.</p>"
            }
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>This API requires Account Admin or Organization Admin access. Workspace Admins cannot invoke it and receive error code <b>7301</b>, which prevents a Workspace Admin from promoting themselves or demoting other admins.</li><li>A maximum of 1000 email addresses can be sent in a single list, and a maximum of 20 groups can be sent in the <b>users</b> array. Split larger operations into multiple calls.</li><li>A custom role name must exactly match an existing custom role defined in the organization. An unknown role name fails with error code <b>7550</b>.</li><li>The operation is idempotent. Applying the role that a user already holds succeeds silently.</li><li>Assigning the <b>USER</b> role to a current Workspace Admin removes their admin capabilities immediately, while their workspace access continues as a regular user.</li><li>Always specify <b>domainName</b> for portal users, so that the correct portal user record is updated. Without it, the change is attempted in the standard Zoho Analytics domain.</li><li><b>VIEWER</b> is an org-level role and is not a valid workspace-level role value. At workspace level, org-level Viewers are listed as <b>User</b>.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/users/status": {
      "put": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Change Workspace Users Status",
        "summary": "Change Workspace Users Status",
        "description": "Activates or deactivates one or more users in the specified workspace. Deactivation suspends the access of a user without removing them from the workspace - their role and permissions are preserved and are restored exactly as they were on reactivation.",
        "operationId": "changeWorkspaceUsersStatus",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.usermanagement.update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/ChangeWorkspaceUsersStatusConfig"
                  }
                },
                "required": [
                  "CONFIG"
                ]
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "deactivateUser": {
                  "description": "Deactivate user",
                  "summary": "Suspends the workspace access of a single user, for example while they are on extended leave.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "on.leave@acme.com"
                      ],
                      "operation": "deactivate"
                    }
                  }
                },
                "activateUsers": {
                  "description": "Activate users",
                  "summary": "Restores the workspace access of several previously deactivated users.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "user1@acme.com",
                        "user2@acme.com"
                      ],
                      "operation": "activate"
                    }
                  }
                },
                "portalDomainDeactivation": {
                  "description": "Portal domain",
                  "summary": "Suspends the access of a portal user within a specific client portal domain.",
                  "value": {
                    "CONFIG": {
                      "emailIds": [
                        "portal.user@client.com"
                      ],
                      "operation": "deactivate",
                      "domainName": "reports.clientbrand.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The requested action has been applied successfully. This API returns no response body on success - only the HTTP status code has to be checked. A JSON payload is returned only for a failure."
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "permissionDenied": {
                    "description": "Permission denied",
                    "summary": "Returned when a Workspace Admin or an Organization Admin attempts to invoke this API.",
                    "value": {
                      "status": "failure",
                      "summary": "SECURITY_NOT_PERMITTED",
                      "data": {
                        "errorCode": 7301,
                        "errorMessage": "You do not have the permission to do this operation. Only Account Admin has the permission."
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify the workspace-id value in the request URI."
              },
              {
                "name": "7301",
                "description": "The calling user is not the Account Admin of the organization. Only the Account Admin can change the status of workspace users.",
                "resolution": "Invoke this API using the credentials of the Account Admin of the organization."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid client portal domain name configured for the organization."
              },
              {
                "name": "8061",
                "description": "The specified domainName does not belong to the organization's Account Admin.",
                "resolution": "Use a domain name that is administered by the Account Admin of this organization."
              },
              {
                "name": "8119",
                "description": "Invalid value for operation. Only activate and deactivate are accepted.",
                "resolution": "Pass exactly activate or deactivate in the operation field. The value is case-sensitive."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.usermanagement.update."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The Zoho account of the calling user must be confirmed (email verified) to invoke this API.</li><li>This API is restricted to the Account Admin of the organization that owns the workspace. Workspace Admins and Organization Admins cannot invoke it and receive error code <b>7301</b>.</li><li>A maximum of 1000 email addresses can be sent in a single request.</li><li>The <b>operation</b> value is case-sensitive. Only <b>activate</b> and <b>deactivate</b> in lower case are valid - any other value, including <b>Activate</b> or <b>ACTIVATE</b>, fails with error code <b>8119</b> before any change is made.</li><li>The operation is idempotent. Activating an already-active user, or deactivating an already-inactive user, succeeds silently.</li><li>All the shares, roles and permissions of a deactivated user are preserved and are restored on reactivation.</li><li>Always specify <b>domainName</b> when the users belong to a client portal domain.</li></ul>\n</span></blockquote>"
            }
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/admins": {
      "get": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Get Workspace Admins",
        "summary": "Get Workspace Admins",
        "description": "Returns the users who currently hold the Workspace Admin role in the specified workspace, grouped by domain context.",
        "operationId": "getWorkspaceAdmins",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkspaceAdminsResponse"
                },
                "examples": {
                  "singleAdmin": {
                    "description": "Single admin",
                    "summary": "Standard organization with exactly one Workspace Admin.",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace admins",
                      "data": {
                        "workspaceAdmins": [
                          {
                            "adminMembers": [
                              "wsadmin@acme.com"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "multipleAdmins": {
                    "description": "Multiple admins",
                    "summary": "Standard organization with several Workspace Admins in a single domain context.",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace admins",
                      "data": {
                        "workspaceAdmins": [
                          {
                            "adminMembers": [
                              "wsadmin1@acme.com",
                              "wsadmin2@acme.com",
                              "wsadmin3@acme.com"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "portalDomainAdmins": {
                    "description": "Client portal",
                    "summary": "Response returned when the Account Admin is also a Client Portal Admin - the admins are grouped by domain context.",
                    "value": {
                      "status": "success",
                      "summary": "Get workspace admins",
                      "data": {
                        "workspaceAdmins": [
                          {
                            "adminMembers": [
                              "wsadmin@acme.com"
                            ],
                            "domainName": "analytics.zoho.com"
                          },
                          {
                            "adminMembers": [
                              "portal.admin@client.com"
                            ],
                            "domainName": "reports.clientbrand.com"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify the workspace-id value in the request URI."
              },
              {
                "name": "7301",
                "description": "The calling user is not an Account Admin or Organization Admin of the organization.",
                "resolution": "Only Account Admins and Organization Admins can manage the Workspace Admins of a workspace."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the scope ZohoAnalytics.share.read."
              }
            ]
          }
        },
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul><li>The calling user must be an Account Admin or an Organization Admin of the organization that owns the workspace. Workspace Admins and regular users cannot invoke this API.</li><li>Only workspace-level admins are listed. Account Admins and Organization Admins are not returned here, even though they have effective admin access to the workspace.</li><li><b>workspaceAdmins</b> is always an array. In a standard organization it holds a single entry without <b>domainName</b>. When the Account Admin is also a Client Portal Admin, it holds one entry per domain context - one for the standard Zoho Analytics domain and one for each client portal domain - each carrying its <b>domainName</b>.</li><li>The Get Workspace Users API returns all the users of the workspace including its admins, whereas this API returns only the admin subset. Use this API when only the admin list is needed, for example before invoking Remove Workspace Admins.</li></ul>\n</span></blockquote>"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Workspace Users"
        ],
        "x-zenesis-title": "Add Workspace Admins",
        "summary": "Add Workspace Admins",
        "description": "Grants the Workspace Admin role to one or more users in the specified workspace. The users must already be members of the workspace, or of the specified client portal domain.",
        "operationId": "addWorkspaceAdmins",
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.share.create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          }
        ],
[...]
