{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Views Management in Zoho Analytics — covering view operations, auto analysis, favorites, and trash management."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "View Operations",
      "description": "APIs for creating, copying, renaming, deleting, and retrieving views."
    },
    {
      "name": "Auto Analysis",
      "description": "APIs to automatically generate a curated set of views - charts, pivot tables and summary views - from an entire table or from a single column of it. Both APIs work only on Tables, Query Tables and Pipeline Tables."
    },
    {
      "name": "View Preferences",
      "description": "APIs to mark a view as a favorite for the authenticated user and to remove it from the favorites list. The favorite status is stored per user."
    },
    {
      "name": "Trash Management",
      "description": "APIs to list the views available in the trash of a workspace, restore a trashed view back to the workspace, and permanently delete a view from the trash."
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/saveas": {
      "post": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Save As View",
        "summary": "Save As View",
        "description": "Creates a copy of an existing view - a table or an analysis view - within the same workspace.\n\nThe new view is independent of the original once created; later changes to one do not affect the other. For a table, `copyWithData`, `copyWithLookup` and `copyHugeData` control how much of the source is reproduced. For an analysis view those three attributes are ignored and only the view definition is copied.\n\nThe ID of the newly created view is returned in the response and is used to reference the copy in subsequent APIs.",
        "operationId": "saveAsView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/SaveAsViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "schemaOnlyCopy": {
                  "description": "Copy table schema",
                  "summary": "Duplicates a table with its columns, data types, lookup references and formula definitions but without any row data, and places the copy in a specific folder.",
                  "value": {
                    "CONFIG": {
                      "viewName": "Sales_Archive",
                      "viewDesc": "Copy of Sales table for archival",
                      "copyWithData": false,
                      "copyWithLookup": true,
                      "folderId": "466206000000085001"
                    }
                  }
                },
                "asyncDataCopy": {
                  "description": "Copy with data",
                  "summary": "Duplicates a large table together with its row data. The copy runs asynchronously in the background so that the request returns without waiting for the data to finish populating.",
                  "value": {
                    "CONFIG": {
                      "viewName": "Sales_Backup_Q3",
                      "copyWithData": true,
                      "copyHugeData": true
                    }
                  }
                },
                "analysisViewCopy": {
                  "description": "Copy analysis view",
                  "summary": "Duplicates a chart or other analysis view. Only viewName and viewDesc are meaningful here - the table-specific attributes are ignored for analysis views.",
                  "value": {
                    "CONFIG": {
                      "viewName": "Revenue Trend - Copy",
                      "viewDesc": "Duplicate of Q3 revenue trend chart"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>The new view is independent of the source view once created. Later changes to one do not affect the other.</li>\n<li><b>copyWithData</b>, <b>copyWithLookup</b> and <b>copyHugeData</b> apply to Tables only. They are silently ignored for analysis views such as charts, pivot tables, summary views and query tables, for which only the view definition - axis bindings, filters and settings - is copied.</li>\n<li>For an analysis view, the user must also hold save permission on the parent table of that view. If the parent table has been deleted or is inaccessible, the request fails with a permission or not-found error.</li>\n<li><b>copyHugeData</b> has an effect only when <b>copyWithData</b> is true. Sent on its own it is ignored and the copy stays synchronous and schema-only.</li>\n<li>When <b>copyWithData</b> is true and <b>copyHugeData</b> is false, the HTTP request may time out on a very large table before the data copy finishes. Use <b>copyHugeData</b> as true for such tables.</li>\n<li>When <b>copyHugeData</b> is true, the <b>viewId</b> is returned immediately while the row data continues to populate in the background.</li>\n<li>When <b>copyWithLookup</b> is true and a referenced table no longer exists, that lookup definition is dropped silently and the copy still succeeds.</li>\n<li><b>folderId</b> must belong to the same workspace as the source view. A folder from another workspace fails with error 7144. When it is omitted, the new view is placed in the root-level unorganised area of the workspace.</li>\n<li>Dashboards are not supported by this API. The request may return a new view ID, but card bindings can be broken unless the referenced views are also copied. Use the Copy Views API for full dashboard duplication.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The new view was created and its ID is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveAsViewResponse"
                },
                "examples": {
                  "newViewCreated": {
                    "description": "New view created",
                    "summary": "The ID of the newly created view. When copyHugeData is true this ID is returned before the row data has finished populating.",
                    "value": {
                      "status": "success",
                      "summary": "Saveas view",
                      "data": {
                        "viewId": "466206000000120001"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is a valid, accessible workspace."
              },
              {
                "name": "7104",
                "description": "Source view not found.",
                "resolution": "Verify that the view-id exists within the specified workspace."
              },
              {
                "name": "7111",
                "description": "A view with the given viewName already exists in this workspace.",
                "resolution": "Choose a different, unique name for the new view."
              },
              {
                "name": "7144",
                "description": "The specified folderId does not exist in this workspace.",
                "resolution": "Provide a valid folder ID from within the same workspace, or omit folderId to place the view at the root level."
              },
              {
                "name": "7301",
                "description": "The user does not have permission to duplicate this view.",
                "resolution": "Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or holds Design and Modify permission on the workspace. For analysis views, the user must also hold save permission on the parent table."
              },
              {
                "name": "7319",
                "description": "The source view does not belong to the specified workspace.",
                "resolution": "Ensure that the workspace-id and the view-id are correct and consistent."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.modeling.create scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/copy": {
      "post": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Copy Views",
        "summary": "Copy Views",
        "description": "Copies one or more views from a source workspace to a destination workspace. The two workspaces may belong to the same organization or to different organizations, which makes this a cross-workspace operation unlike Save As View.\n\nThe source workspace is the `workspace-id` in the URL and the destination workspace is `destWorkspaceId` in the CONFIG. The destination *organization* is resolved from the headers, and which header carries it depends on the caller:\n\n- An **Account Admin** sends the destination organization in `ZANALYTICS-ORGID` and no second header. This is the default route, and it is why `ZANALYTICS-ORGID` means something different here than in every other API in this module.\n- An **Organization Admin** with admin access in several organizations sends their own organization in `ZANALYTICS-ORGID` and the destination in `ZANALYTICS-DEST-ORGID`. The service then checks that the caller is a member of that destination organization before copying.\n\nEither way, when the destination organization differs from the organization of the source workspace, the copy key of the source workspace must also be sent as `workspaceKey`.\n\nThe response maps each source view ID to the ID of the view newly created in the destination workspace.",
        "operationId": "copyViews",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of an organization, but which one depends on the caller. When ZANALYTICS-DEST-ORGID is not sent - the Account Admin route - this header carries the destination organization, because the permission check validates the caller's admin rights in the destination. When ZANALYTICS-DEST-ORGID is sent - the Organization Admin route - this header carries the caller's own source organization instead. Note that this differs from every other API in this module, where the header always names the organization of the workspace in the URL."
          },
          {
            "name": "ZANALYTICS-DEST-ORGID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the destination organization. It is meant for an Organization Admin who holds admin access in several organizations and wants to copy into one of them while keeping their own organization in ZANALYTICS-ORGID. When it is sent, it overrides destination resolution and the service validates that the caller is a member of it, failing with error 7301 otherwise and with error 8058 if the organization does not exist. When it is omitted, the destination organization is the one in ZANALYTICS-ORGID."
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the source workspace that holds the views to be copied."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CopyViewsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "sameOrgCopy": {
                  "description": "Same organization copy",
                  "summary": "Copies two listed views into a destination workspace that belongs to the same organization. No workspace key is needed and dependent views are not resolved.",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "466206000000105001",
                        "466206000000106002"
                      ],
                      "destWorkspaceId": "466206000000080000"
                    }
                  }
                },
                "copyWithDependents": {
                  "description": "Copy with dependents",
                  "summary": "Copies a table together with every analysis view built on it, and keeps going when an individual view in the expanded set fails to copy.",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "466206000000105001"
                      ],
                      "destWorkspaceId": "466206000000080000",
                      "copyWithDependentViews": true,
                      "continueOnFailure": true
                    }
                  }
                },
                "crossOrgCopy": {
                  "description": "Cross organization copy",
                  "summary": "Copies views into a workspace in another organization. The copy key of the source workspace is mandatory here, and the destination organization travels in ZANALYTICS-ORGID for an Account Admin or in ZANALYTICS-DEST-ORGID for an Organization Admin. The whole operation is rolled back on the first failure.",
                  "value": {
                    "CONFIG": {
                      "viewIds": [
                        "466206000000105001",
                        "466206000000107003"
                      ],
                      "destWorkspaceId": "467200000000090000",
                      "workspaceKey": "abc123def456",
                      "copyWithDependentViews": true,
                      "continueOnFailure": false
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>This API is not available on custom domains.</li>\n<li>The destination organization is resolved from the headers. An <b>Account Admin</b> sends it in <b>ZANALYTICS-ORGID</b> and omits the second header. An <b>Organization Admin</b> with access to several organizations sends their own organization in <b>ZANALYTICS-ORGID</b> and the destination in <b>ZANALYTICS-DEST-ORGID</b>, and the service checks that the caller is a member of that destination organization first.</li>\n<li><b>ZANALYTICS-ORGID</b> therefore means something different here than in the rest of this module, where it always names the organization of the workspace in the URL.</li>\n<li><b>destWorkspaceId</b> must belong to the organization that is finally resolved as the destination - <b>ZANALYTICS-DEST-ORGID</b> when that header is sent, otherwise <b>ZANALYTICS-ORGID</b>. Validation fails when it does not.</li>\n<li><b>workspaceKey</b> is required whenever the destination organization differs from the organization of the source workspace, on both the Account Admin and the Organization Admin route. For a copy within one organization it is ignored even if it is sent. A cross-organization copy without a matching key fails with error 15007 before any view is copied; there is no partial match.</li>\n<li>Source and destination may be the same workspace. Names can then conflict, and error 7111 is raised when a view of the same name already exists in the destination.</li>\n<li><b>continueOnFailure</b> takes effect only when <b>copyWithDependentViews</b> is true. When <b>copyWithDependentViews</b> is false each listed view is attempted independently and the flag has no effect.</li>\n<li>When <b>copyWithDependentViews</b> is false and <b>continueOnFailure</b> is false, any failure cancels the whole operation. When <b>copyWithDependentViews</b> is true and <b>continueOnFailure</b> is false, the whole operation is rolled back on the first failure, including the resolved dependents.</li>\n<li>When <b>continueOnFailure</b> is true, only the views that copied successfully appear in the <b>views</b> array. There is no failure list in the response, and an empty array is returned with HTTP 200 when every view failed.</li>\n<li>If <b>viewIds</b> mixes valid and invalid IDs, validation fails on the first invalid ID with error 7104 or 7319 and no view is copied.</li>\n<li>Row data is not copied across workspaces. Only the schema and the view definitions are transferred.</li>\n<li>If the destination workspace reaches its row or view limit, the copy proceeds up to that limit and the remaining views fail. With <b>continueOnFailure</b> as true the partial copy is committed.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The views were copied and each source view ID is mapped to its new destination view ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyViewsResponse"
                },
                "examples": {
                  "allViewsCopied": {
                    "description": "All views copied",
                    "summary": "Every requested view was copied. One entry is returned per view, mapping the source view ID to the newly created destination view ID.",
                    "value": {
                      "status": "success",
                      "summary": "Copy views",
                      "data": {
                        "views": [
                          {
                            "sourceViewId": "466206000000105001",
                            "destViewId": "467200000000112001"
                          },
                          {
                            "sourceViewId": "466206000000107003",
                            "destViewId": "467200000000112002"
                          }
                        ]
                      }
                    }
                  },
                  "partialCopy": {
                    "description": "Partial copy",
                    "summary": "With continueOnFailure set to true, only the views that copied successfully are listed. Views that failed are absent from the array and are not reported separately.",
                    "value": {
                      "status": "success",
                      "summary": "Copy views",
                      "data": {
                        "views": [
                          {
                            "sourceViewId": "466206000000105001",
                            "destViewId": "467200000000112001"
                          }
                        ]
                      }
                    }
                  },
                  "noViewsCopied": {
                    "description": "No views copied",
                    "summary": "With continueOnFailure set to true and every view failing, HTTP 200 is still returned with an empty views array and no error is raised.",
                    "value": {
                      "status": "success",
                      "summary": "Copy views",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "The source or the destination workspace was not found.",
                "resolution": "Verify that the workspace-id in the URL and destWorkspaceId in the CONFIG are valid."
              },
              {
                "name": "7104",
                "description": "One or more view IDs in viewIds do not exist.",
                "resolution": "Verify that every view ID in the array exists and is accessible."
              },
              {
                "name": "7301",
                "description": "The user does not have permission. Raised when the user is not an Account Admin or Organization Admin of the destination organization, when the caller is not a member of the organization named in ZANALYTICS-DEST-ORGID, or when createAsSystemTable is used outside an authorized internal service.",
                "resolution": "Ensure the user is an Account Admin or Organization Admin of the destination organization and, when ZANALYTICS-DEST-ORGID is used, a member of that organization."
              },
              {
                "name": "7319",
                "description": "One or more view IDs do not belong to the source workspace given in the URL.",
                "resolution": "Ensure that every view ID in viewIds comes from the workspace given in the workspace-id path parameter."
              },
              {
                "name": "8058",
                "description": "The organization ID sent in ZANALYTICS-DEST-ORGID does not exist.",
                "resolution": "Provide a valid, existing organization ID in the ZANALYTICS-DEST-ORGID header."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.modeling.create scope."
              },
              {
                "name": "15007",
                "description": "Cross-organization copy is not authorized. Raised when the resolved destination organization differs from the organization of the source workspace and workspaceKey is missing or incorrect.",
                "resolution": "Provide the correct workspaceKey of the source workspace for a cross-organization copy."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/similarviews": {
      "post": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Create Similar Views",
        "summary": "Create Similar Views",
        "description": "Replicates, for a target table, every analysis view - chart, pivot table, summary view and so on - that exists on a reference table in the same workspace. The column bindings in each copied view are remapped automatically to the corresponding columns of the target table.\n\nThe target table is the `view-id` in the URL and the reference table is `referenceViewId` in the CONFIG. This is useful when two tables share a compatible column structure and a whole set of reports needs to be reproduced from one on the other.\n\nAll generated views are placed into the single folder given as `folderId`.",
        "operationId": "createSimilarViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateSimilarViewsConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "structureOnlyCopy": {
                  "description": "Structure only",
                  "summary": "Replicates the reference table's views on the target table with their axis and filter bindings alone. No formula column of either kind is carried over.",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": "466206000000105001",
                      "folderId": "466206000000085001"
                    }
                  }
                },
                "allFormulasCopy": {
                  "description": "All formulas",
                  "summary": "Replicates the views and carries over both custom formula columns and aggregate formula columns. Use this only when the target table supports the same expressions.",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": "466206000000105001",
                      "folderId": "466206000000085001",
                      "copyCustomFormula": true,
                      "copyAggFormula": true
                    }
                  }
                },
                "aggFormulaOnly": {
                  "description": "Aggregate formulas only",
                  "summary": "Replicates the views with the summary-level aggregate formulas but leaves the row-level custom formula columns behind.",
                  "value": {
                    "CONFIG": {
                      "referenceViewId": "466206000000105001",
                      "folderId": "466206000000090002",
                      "copyCustomFormula": false,
                      "copyAggFormula": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>The <b>view-id</b> path parameter is the <b>target table</b> - the table the new views will be bound to. <b>referenceViewId</b> in the CONFIG is the <b>reference table</b> whose existing analysis views act as the templates.</li>\n<li>Both <b>view-id</b> and <b>referenceViewId</b> must belong to the workspace given in the URL. If either does not, the request fails with error 7319.</li>\n<li>Column bindings are remapped by <b>column name</b>. An axis slot is bound to the target column that carries exactly the same name as the reference column. Where no name matches, the slot is left empty and the view is created in an incomplete state, so charts may render without data until the bindings are corrected manually.</li>\n<li><b>copyCustomFormula</b> and <b>copyAggFormula</b> are independent and may both be true, in which case custom and aggregate formula columns are both included. When both are false, only the structural axis and filter bindings are copied.</li>\n<li>A formula copied onto a target table that lacks the columns its expression references is created but stays in an error state at render time until the expression is updated manually.</li>\n<li>If the reference table has no analysis views, the call still succeeds with HTTP 204 and no view is created.</li>\n<li>The target table and the reference table may be the same view ID. The API allows it and the result is a duplicate set of views in the specified folder.</li>\n<li><b>folderId</b> may point to a nested sub-folder. Every generated view is placed directly into that single folder regardless of its nesting level.</li>\n<li>The API is designed for table-to-table replication. Passing an analysis view as <b>referenceViewId</b> passes workspace validation but may lead to unexpected behaviour.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The similar views were created for the target table.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is valid."
              },
              {
                "name": "7104",
                "description": "The target table given as view-id, or the reference table given as referenceViewId, was not found.",
                "resolution": "Verify that both view IDs exist in the workspace."
              },
              {
                "name": "7144",
                "description": "The specified folderId does not exist in this workspace.",
                "resolution": "Provide a valid, existing folder ID from within the same workspace."
              },
              {
                "name": "7301",
                "description": "The user is not authorized to create views in this workspace.",
                "resolution": "Ensure the user is an Account Admin, Organization Admin, or Workspace Admin."
              },
              {
                "name": "7319",
                "description": "One or both view IDs do not belong to the specified workspace.",
                "resolution": "Ensure that the view-id in the URL and the referenceViewId in the CONFIG both belong to the workspace given in the URL."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.modeling.create scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}": {
      "put": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Rename View",
        "summary": "Rename View",
        "description": "Renames an existing view and, optionally, updates its description. It applies to every view type - tables, analysis views, dashboards, query tables and others.\n\nThe description is always overwritten. If `viewDesc` is not sent, the existing description is cleared to an empty string, so the current description has to be passed explicitly whenever it should be retained.",
        "operationId": "renameView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/RenameViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "renameOnly": {
                  "description": "Rename only",
                  "summary": "Changes the view name alone. Because viewDesc is not sent, the existing description of the view is cleared to an empty string.",
                  "value": {
                    "CONFIG": {
                      "viewName": "Sales_Q3_2024"
                    }
                  }
                },
                "renameWithDescription": {
                  "description": "Rename and describe",
                  "summary": "Changes the view name and sets a new description in the same call. This is the form to use whenever the description must survive the rename.",
                  "value": {
                    "CONFIG": {
                      "viewName": "Revenue Chart - Q3",
                      "viewDesc": "Monthly revenue breakdown for Q3 2024"
                    }
                  }
                },
                "renameDashboard": {
                  "description": "Rename dashboard",
                  "summary": "Renames a dashboard. The new name is reflected wherever the dashboard is referenced, without any further update call.",
                  "value": {
                    "CONFIG": {
                      "viewName": "Executive Dashboard v2",
                      "viewDesc": "Consolidated KPIs for Q3 review"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li><b>viewDesc</b> is always overwritten. When it is omitted, the existing description is cleared to an empty string rather than preserved, so the current description must be passed explicitly to retain it.</li>\n<li><b>viewName</b> must be non-empty. An empty string fails with error 7413.</li>\n<li><b>viewName</b> must be unique within the workspace and a clash fails with error 7111. Renaming a view to the name it already carries succeeds, because the view itself is excluded from the uniqueness check.</li>\n<li>The API applies to every view type - tables, analysis views, dashboards, query tables and others.</li>\n<li>Renaming a view that is embedded in a dashboard propagates to every dashboard card reference immediately. No dashboard update is needed.</li>\n<li>Renaming a query table renames the virtual table alone. The analysis views built on it are not renamed.</li>\n<li>The API returns HTTP 204 No Content with an empty body on success.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The view was renamed.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is correct and accessible."
              },
              {
                "name": "7104",
                "description": "View not found.",
                "resolution": "Verify that the view-id exists in the specified workspace."
              },
              {
                "name": "7111",
                "description": "A view with the given viewName already exists in this workspace.",
                "resolution": "Choose a unique name for the view."
              },
              {
                "name": "7301",
                "description": "The user does not have permission to rename this view.",
                "resolution": "Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or the view owner."
              },
              {
                "name": "7319",
                "description": "The view does not belong to the specified workspace.",
                "resolution": "Verify that the workspace-id and the view-id are correct and consistent."
              },
              {
                "name": "7413",
                "description": "viewName is empty.",
                "resolution": "Provide a non-empty, valid view name."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.modeling.update scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Delete View",
        "summary": "Delete View",
        "description": "Deletes a view from a workspace. The delete is a soft delete - the view is moved to the workspace Trash, from where it can be restored within the retention period. It applies to every view type.\n\nIf other views depend on the view being deleted - analysis views built on a table, charts embedded in a dashboard, or a query table referencing the table - the call fails unless `deleteDependentViews` is set to `true`, in which case those dependents are deleted alongside it.",
        "operationId": "deleteView",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/DeleteViewConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "deleteStandalone": {
                  "description": "Delete standalone view",
                  "summary": "Deletes a view that nothing else depends on, such as a chart or a dashboard. Sending deleteDependentViews as false is the explicit form of the default behaviour.",
                  "value": {
                    "CONFIG": {
                      "deleteDependentViews": false
                    }
                  }
                },
                "deleteWithDependents": {
                  "description": "Delete with dependents",
                  "summary": "Deletes a table together with every view that depends on it, direct and transitive. All of them are moved to Trash and have to be restored individually.",
                  "value": {
                    "CONFIG": {
                      "deleteDependentViews": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.delete"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>This is a soft delete. The view is moved to the workspace Trash and can be brought back with the Restore Trash View API within the retention period, after which it is purged permanently.</li>\n<li>The CONFIG parameter is optional. When it is omitted, <b>deleteDependentViews</b> is taken as false.</li>\n<li>When <b>deleteDependentViews</b> is false and another view depends on this one, the request fails with a dependency error and nothing is deleted. Use the Get View Details API with <b>withInvolvedMetaInfo</b> as true to identify the dependents first.</li>\n<li>When <b>deleteDependentViews</b> is true, direct and transitive dependents go with the view in the same operation. A table with 50 analysis views loses all 50, and an analysis view embedded in dashboards takes those dashboards with it.</li>\n<li>Deleting an individual dashboard tab removes that tab and every view it holds from the parent tabbed dashboard. If it is the last remaining tab, the parent tabbed dashboard itself may be affected.</li>\n<li>Deleting a tabbed dashboard deletes the parent object, and its constituent tabs count as dependents. Send <b>deleteDependentViews</b> as true to remove them in the same call.</li>\n<li>Deleting a table that acts as a lookup source leaves orphaned lookup columns in the tables that reference it. Send <b>deleteDependentViews</b> as true, or remove the lookup relationship first.</li>\n<li>Every view removed by this call goes to Trash separately and must be restored individually from there.</li>\n<li>The API returns HTTP 204 No Content with an empty body on success.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content. The view was moved to the workspace Trash.",
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is correct and accessible."
              },
              {
                "name": "7104",
                "description": "View not found.",
                "resolution": "Verify that the view-id exists in the specified workspace."
              },
              {
                "name": "7301",
                "description": "The user does not have permission to delete this view. Raised when the user is neither a Workspace Admin, Account Admin, Organization Admin, nor the view owner.",
                "resolution": "Ensure the user holds one of the required roles."
              },
              {
                "name": "7319",
                "description": "The view does not belong to the specified workspace.",
                "resolution": "Verify that the workspace-id and the view-id are correct and consistent."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.modeling.delete scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Get View List",
        "summary": "Get View List",
        "description": "Returns the list of views accessible to the authenticated user within a workspace, together with the folder, creator and last-modifier metadata of each view.\n\nThe result can be narrowed by view type, by a keyword matched against the view name, and by the user who created or last modified the view, and it can be paged and sorted. The scope of the list depends on the caller: an admin receives every view in the workspace, while a shared user or group member receives only the views shared with them.",
        "operationId": "getViews",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "JSONObject that filters, pages and sorts the view list. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetViewListConfig"
            },
            "examples": {
              "dashboardsAndTables": {
                "description": "Filter by type",
                "summary": "Returns only the dashboards and the base tables of the workspace, ordered by last modified time with the most recently changed view first.",
                "value": {
                  "viewTypes": [
                    7,
                    0
                  ],
                  "sortedColumn": 2,
                  "sortedOrder": 1
                }
              },
              "keywordSearchPaged": {
                "description": "Keyword with paging",
                "summary": "Returns the first ten views whose name contains Revenue, ordered by name ascending. Increase startIndex by noOfResult to walk through the remaining pages.",
                "value": {
                  "keyword": "Revenue",
                  "startIndex": 0,
                  "noOfResult": 10,
                  "sortedColumn": 0,
                  "sortedOrder": 0
                }
              },
              "viewsByUser": {
                "description": "Filter by user",
                "summary": "Returns only the views created or last modified by one user, identified by ZUID, with the newest created view first.",
                "value": {
                  "criteriaZuid": "64035928",
                  "sortedColumn": 1,
                  "sortedOrder": 1
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>The CONFIG parameter is optional. Without it, every view accessible to the calling user is returned. As this is a GET request, the value must be stringified and URL encoded before it is sent.</li>\n<li>Each integer in <b>viewTypes</b> corresponds to the <b>viewType</b> string of the same name in the response - 0 Table, 1 Report, 2 AnalysisView, 3 Pivot, 4 SummaryView, 5 TableView, 6 QueryTable, 7 Dashboard, 9 Tab. At most 8 entries are accepted.</li>\n<li>A <b>sortedColumn</b> outside 0 to 2, or a <b>sortedOrder</b> outside 0 to 1, fails with error 8119.</li>\n<li>A filter that matches nothing - an excluded view type, an unmatched keyword, a <b>startIndex</b> past the end of the result set, or a <b>criteriaZuid</b> with no views in the workspace - returns HTTP 200 with an empty <b>views</b> array. No error is raised.</li>\n<li>A shared user sees only the views shared explicitly with them, and a group member additionally sees the views shared with their group. <b>sharedBy</b> names the user who shared each view, and is an empty string for Workspace, Account and Organization Admins.</li>\n<li><b>isFavorite</b> is user specific. It reflects whether the requesting user has marked the view as a favorite, not a global property of the view.</li>\n<li><b>parentViewId</b> holds the ID of the base table for an analysis view, and is an empty string for tables and dashboards.</li>\n<li>Dashboard tabs are returned as entries of their own when <b>viewTypes</b> includes 9, each carrying <b>parentViewId</b> set to its parent dashboard. Send <b>viewTypes</b> as [7] to get the dashboard entries alone.</li>\n<li><b>lastModifiedTime</b> covers both data changes and design changes.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The list of views accessible to the calling user in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewsResponse"
                },
                "examples": {
                  "adminViewList": {
                    "description": "Admin view list",
                    "summary": "An admin receives every view in the workspace. The analysis view carries parentViewId pointing at the table it is built on, and sharedBy is empty for admins.",
                    "value": {
                      "status": "success",
                      "summary": "Get views",
                      "data": {
                        "views": [
                          {
                            "viewId": "137687000000471835",
                            "viewName": "Sales",
                            "viewDesc": "",
                            "viewType": "Table",
                            "parentViewId": "",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1683178935825",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": ""
                          },
                          {
                            "viewId": "137687000000471836",
                            "viewName": "Average Sales in a Day",
                            "viewDesc": "",
                            "viewType": "AnalysisView",
                            "parentViewId": "137687000000471835",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1619175390377",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": ""
                          },
                          {
                            "viewId": "137687000000471844",
                            "viewName": "Dashboard",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1619175390377",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": ""
                          }
                        ]
                      }
                    }
                  },
                  "sharedUserList": {
                    "description": "Shared user list",
                    "summary": "A shared user receives only the views shared explicitly with them, and sharedBy names the user who shared each one.",
                    "value": {
                      "status": "success",
                      "summary": "Get views",
                      "data": {
                        "views": [
                          {
                            "viewId": "137687000000471835",
                            "viewName": "Sales",
                            "viewDesc": "",
                            "viewType": "Table",
                            "parentViewId": "",
                            "folderId": "137687000000471834",
                            "createdTime": "1619175390377",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1683178935825",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": "admin@example.com"
                          }
                        ]
                      }
                    }
                  },
                  "emptyResult": {
                    "description": "No match",
                    "summary": "A filter that matches nothing still returns HTTP 200 with an empty views array rather than an error.",
                    "value": {
                      "status": "success",
                      "summary": "Get views",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is correct and accessible."
              },
              {
                "name": "7301",
                "description": "The user does not have permission to list the views of this workspace.",
                "resolution": "Ensure the user has at least Read permission on the workspace."
              },
              {
                "name": "8119",
                "description": "Invalid value for sortedColumn, which must be 0 to 2, or for sortedOrder, which must be 0 to 1.",
                "resolution": "Use only the documented integer values for the sort attributes."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.metadata.read scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/views/{view-id}": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Get View Details",
        "summary": "Get View Details",
        "description": "Returns the metadata of a single view identified by its view ID. The view is resolved globally, so unlike the other APIs in this module no workspace ID is needed in the URL - the workspace is derived from the view itself.\n\nBy default only the base attributes are returned. Setting `withInvolvedMetaInfo` to `true` adds extended metadata whose shape depends on the view type: column definitions and a row count for tables and query tables, the tab structure for a tabbed dashboard, and the list of parent views for an analysis view or a regular dashboard. Some of those extended fields are restricted to Workspace Admins.",
        "operationId": "getViewDetails",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ID of the organization. It is not required by this API, since the view is resolved globally by its ID, but sending it is harmless and is recommended for consistency with the other APIs."
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "JSONObject that controls whether extended metadata is returned along with the base view attributes. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetViewDetailsConfig"
            },
            "examples": {
              "baseDetails": {
                "description": "Base details",
                "summary": "Returns the base attributes of the view alone. This is the same result as omitting the CONFIG parameter entirely.",
                "value": {
                  "withInvolvedMetaInfo": false
                }
              },
              "extendedDetails": {
                "description": "Extended details",
                "summary": "Adds the extended metadata for the view type - column definitions and row count for a table or query table, tab structure for a tabbed dashboard, parent views for an analysis view.",
                "value": {
                  "withInvolvedMetaInfo": true
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>This endpoint resolves the view globally by <b>view-id</b>. No workspace ID is needed in the URL and the workspace is derived from the view metadata, unlike every other workspace-scoped API in this module.</li>\n<li><b>ZANALYTICS-ORGID</b> is not required by the framework for this API, though sending it is harmless and is recommended for consistency.</li>\n<li>The CONFIG parameter is optional. As this is a GET request, the value must be stringified and URL encoded before it is sent.</li>\n<li>With <b>withInvolvedMetaInfo</b> as false, only the base attributes of the view are returned.</li>\n<li>With <b>withInvolvedMetaInfo</b> as true the extended fields depend on the view type. A Table returns <b>columns</b> and <b>rowCount</b>; a QueryTable returns <b>columns</b>, <b>rowCount</b> and <b>involvedViews</b>; a tabbed dashboard returns <b>tabs</b>; an analysis view, pivot, summary view or regular dashboard returns <b>involvedViews</b>.</li>\n<li><b>rowCount</b>, <b>involvedViews</b> and <b>tabs</b> are restricted to Workspace Admins. A non-admin receives them as null, while <b>columns</b> is still returned for the views they can access.</li>\n<li><b>rowCount</b> is 0 for a Live Connect table regardless of the volume of remote data, and such a view also carries <b>isLive</b> as true.</li>\n<li><b>isTabbedDashboard</b> is present only on a dashboard that uses a tabbed layout. It is returned even when <b>withInvolvedMetaInfo</b> is false, whereas <b>tabs</b> is not.</li>\n<li><b>parentViewId</b> is present only when <b>viewType</b> is Tab, where it holds the ID of the parent tabbed dashboard.</li>\n<li>Requesting a dashboard tab by its own view ID returns the tab's basic info. The views it contains are returned only with <b>withInvolvedMetaInfo</b> as true and Workspace Admin rights.</li>\n<li>A view owner who is not a Workspace Admin still receives the timestamp and creator fields, but the admin-restricted extended fields are omitted.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The metadata of the requested view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewDetailsResponse"
                },
                "examples": {
                  "baseTableDetails": {
                    "description": "Table base details",
                    "summary": "The base attributes of a table, returned when withInvolvedMetaInfo is false or the CONFIG parameter is omitted.",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000000471835",
                          "viewName": "Sales",
                          "viewDesc": "",
                          "viewType": "Table",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1619175390377",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1619175390377",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928"
                        }
                      }
                    }
                  },
                  "tableWithColumns": {
                    "description": "Table with columns",
                    "summary": "A table requested with withInvolvedMetaInfo as true. The column definitions are returned to every user with access, while the row count is restricted to Workspace Admins.",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000000471835",
                          "viewName": "Sales",
                          "viewDesc": "",
                          "viewType": "Table",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1619175390377",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1619175390377",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "rowCount": 4820,
                          "columns": [
                            {
                              "columnId": "137687000000471840",
                              "columnName": "Date",
                              "dataType": "DATE_AS_DATE",
                              "dataTypeId": 22,
                              "dataTypeName": "Date",
                              "columnIndex": 1,
                              "columnDesc": "",
                              "columnMaxSize": 19,
                              "isNullable": true,
                              "defaultValue": "",
                              "pkTableName": "",
                              "pkColumnName": "",
                              "formulaDisplayName": "",
                              "dateFormat": "dd MMMM, yyyy",
                              "isHidden": false,
                              "sortedOrder": 0,
                              "sortedIndex": -1
                            },
                            {
                              "columnId": "137687000000471841",
                              "columnName": "Region",
                              "dataType": "PLAIN",
                              "dataTypeId": 1,
                              "dataTypeName": "Plain Text",
                              "columnIndex": 2,
                              "columnDesc": "",
                              "columnMaxSize": 253,
                              "isNullable": true,
                              "defaultValue": "",
                              "pkTableName": "",
                              "pkColumnName": "",
                              "formulaDisplayName": "",
                              "isHidden": false,
                              "sortedOrder": 0,
                              "sortedIndex": -1
                            }
                          ]
                        }
                      }
                    }
                  },
                  "tabbedDashboardDetails": {
                    "description": "Tabbed dashboard",
                    "summary": "A tabbed dashboard requested by a Workspace Admin with withInvolvedMetaInfo as true. Each tab lists the views it holds.",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000015400002",
                          "viewName": "TabbedDashboard",
                          "viewDesc": "",
                          "viewType": "Dashboard",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1650282725951",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1650282868999",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "isTabbedDashboard": true,
                          "tabs": [
                            {
                              "tabId": "137687000015400051",
                              "tabName": "Tab1",
                              "involvedViews": [
                                {
                                  "viewId": "137687000000471835",
                                  "viewName": "Sales",
                                  "viewType": "Table"
                                },
                                {
                                  "viewId": "137687000000471839",
                                  "viewName": "ProfitindifferentProducts.",
                                  "viewType": "Pivot View"
                                },
                                {
                                  "viewId": "137687000000471842",
                                  "viewName": "SalesVsProfit",
                                  "viewType": "Chart View"
                                }
                              ]
                            },
                            {
                              "tabId": "137687000015400059",
                              "tabName": "Tab2",
                              "involvedViews": [
                                {
                                  "viewId": "137687000000471836",
                                  "viewName": "Average Sales in a Day",
                                  "viewType": "Chart View"
                                },
                                {
                                  "viewId": "137687000000471840",
                                  "viewName": "Sales and Profit in each Region",
                                  "viewType": "Chart View"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "dashboardTabDetails": {
                    "description": "Dashboard tab",
                    "summary": "An individual tab requested by its own view ID. parentViewId points at the tabbed dashboard the tab belongs to.",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000015400059",
                          "viewName": "Tab2",
                          "viewDesc": "",
                          "viewType": "Tab",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1650282855067",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1650282868991",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "parentViewId": "137687000015400002"
                        }
                      }
                    }
                  },
                  "queryTableDetails": {
                    "description": "Query table",
                    "summary": "A query table requested by a Workspace Admin with withInvolvedMetaInfo as true, showing its columns alongside the parent tables the query is built on.",
                    "value": {
                      "status": "success",
                      "summary": "Get view details",
                      "data": {
                        "views": {
                          "viewId": "137687000000471848",
                          "viewName": "SalesQT",
                          "viewDesc": "SQL-joined query table",
                          "viewType": "QueryTable",
                          "workspaceId": "137687000000471833",
                          "orgId": "64036181",
                          "createdTime": "1619175390377",
                          "createdBy": "admin@example.com",
                          "createdByName": "RestapiAdmin V2",
                          "createdByZuId": "64035928",
                          "lastDesignModifiedTime": "1619175390377",
                          "lastDesignModifiedBy": "admin@example.com",
                          "lastDesignModifiedByName": "RestapiAdmin V2",
                          "lastDesignModifiedByZuId": "64035928",
                          "rowCount": 0,
                          "columns": [
                            {
                              "columnId": "137687000000471860",
                              "columnName": "Cost",
                              "dataType": "CURRENCY",
                              "dataTypeId": 7,
                              "dataTypeName": "Currency",
                              "columnIndex": 1,
                              "columnDesc": "",
                              "columnMaxSize": 19,
                              "isNullable": true,
                              "defaultValue": "",
                              "pkTableName": "",
                              "pkColumnName": "",
                              "formulaDisplayName": "",
                              "isHidden": false,
                              "sortedOrder": 0,
                              "sortedIndex": -1
                            }
                          ],
                          "involvedViews": [
                            {
                              "viewId": "137687000000471835",
                              "viewName": "Sales",
                              "viewType": "Table"
                            },
                            {
                              "viewId": "137687000000471836",
                              "viewName": "Products",
                              "viewType": "Table"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7104",
                "description": "View not found.",
                "resolution": "Verify that the view-id is valid and accessible."
              },
              {
                "name": "7301",
                "description": "The user does not have Read Only permission on the view.",
                "resolution": "Ensure the user has been granted at least Read Only access to the view."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.metadata.read scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/publish": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Get View URL",
        "summary": "Get View URL",
        "description": "Generates and returns the publicly accessible URL of a view. The URL opens directly in a browser without authentication, which allows the view to be shared outside Zoho Analytics.\n\nThe generated URL carries the visual customisations sent in the CONFIG - theme, title and description visibility, toolbar, legend position - and can also apply a data filter through `criteria`, so that whoever opens the link sees only the filtered subset.\n\nWhen the view has been made public with a private key, that key is embedded in the URL path and the link works only for someone who holds it.",
        "operationId": "getViewUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "JSONObject that controls the appearance of the view in the generated URL and, optionally, the data filter applied to it. As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "schema": {
              "$ref": "#/components/schemas/GetViewUrlConfig"
            },
            "examples": {
              "themedWithFilter": {
                "description": "Theme and filter",
                "summary": "Generates a URL with the green theme and no toolbar or description, showing only the rows that match the criteria when the link is opened.",
                "value": {
                  "theme": "green",
                  "includeTitle": true,
                  "includeDesc": false,
                  "includeToolBar": false,
                  "criteria": "\"Region\"='East'"
                }
              },
              "tableDisplayOptions": {
                "description": "Table display options",
                "summary": "Generates a URL for a table with the search box, the data type symbols and the column visibility toggle turned on. These three attributes have no effect on other view types.",
                "value": {
                  "includeSearchBox": true,
                  "includeDatatypeSymbol": true,
                  "includeShowHideOption": true
                }
              },
              "customDomainUrl": {
                "description": "Custom domain",
                "summary": "Generates the URL on a custom client portal domain configured for the workspace instead of the standard Zoho Analytics domain.",
                "value": {
                  "theme": "bluedark",
                  "domainName": "analytics.zylker.com"
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.embed.read"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>The CONFIG parameter is optional. Without it, the URL is generated with the default theme and the default display settings. As this is a GET request, the value must be stringified and URL encoded before it is sent.</li>\n<li>The generated URL opens directly in a browser without authentication, which is what makes the view shareable outside Zoho Analytics.</li>\n<li>When the view is made public with a private key, the key is embedded in the URL path as <b>/open-view/&lt;view-id&gt;/&lt;private-key&gt;</b>. Such a URL is reachable only by someone holding the key, and opening it without the key segment returns an access-denied page.</li>\n<li><b>includeSearchBox</b>, <b>includeDatatypeSymbol</b> and <b>includeShowHideOption</b> apply to Tables and Tabular Views only. They are silently ignored for charts, pivot tables and dashboards.</li>\n<li><b>legendPosition</b> applies to chart, or analysis, views only and is silently ignored for tables, pivot tables and dashboards. When it is omitted, the legend position saved in the view's own settings is used.</li>\n<li><b>criteria</b> must reference columns that exist in the view. A column that does not exist fails filter criteria validation before the URL is generated.</li>\n<li><b>domainName</b> takes precedence over <b>withCustomDomain</b> and is the preferred way to select a custom domain. A domain that does not exist fails with error 8060, and one that exists but does not belong to the workspace or the calling user fails with error 8061.</li>\n<li><b>withCustomDomain</b> as true on a workspace that has no custom domain configured fails with error 8062. Configure the domain first, or omit the attribute to use the standard domain.</li>\n<li>Passing a tabbed dashboard generates a URL for the dashboard as a whole, and the display attributes apply to the dashboard frame. Configuring an individual tab is not exposed through this API.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The generated URL of the view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewUrlResponse"
                },
                "examples": {
                  "publicUrl": {
                    "description": "Public URL",
                    "summary": "The standard shareable URL of a view that has no private key configured, carrying only the theme.",
                    "value": {
                      "status": "success",
                      "summary": "Get view URL",
                      "data": {
                        "viewUrl": "https://analytics.zoho.com/open-view/466206000000105001?ZDB_THEME_NAME=blue"
                      }
                    }
                  },
                  "filteredUrl": {
                    "description": "Filtered URL",
                    "summary": "A URL carrying the display attributes and the filter criteria, both appended as URL-encoded query parameters.",
                    "value": {
                      "status": "success",
                      "summary": "Get view URL",
                      "data": {
                        "viewUrl": "https://analytics.zoho.com/open-view/466206000000105001?ZDB_THEME_NAME=green&INCLUDEDESC=false&CRITERIA=%22Region%22%3D%27East%27"
                      }
                    }
                  },
                  "privateKeyUrl": {
                    "description": "Private key URL",
                    "summary": "A view made public with a private key returns the key as a segment of the URL path. Opening the link without that segment is denied.",
                    "value": {
                      "status": "success",
                      "summary": "Get view URL",
                      "data": {
                        "viewUrl": "https://analytics.zoho.com/open-view/466206000000105001/d7f69c7581b1974af438b42c4aaaed98?ZDB_THEME_NAME=blue"
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is correct and accessible."
              },
              {
                "name": "7104",
                "description": "View not found.",
                "resolution": "Verify that the view-id exists in the specified workspace."
              },
              {
                "name": "7301",
                "description": "The user does not have Publish or Make Public permission on the workspace.",
                "resolution": "Ensure the user is a Workspace Admin, Account Admin, Organization Admin, or has been granted Publish or Make Public permission."
              },
              {
                "name": "7319",
                "description": "The view does not belong to the specified workspace.",
                "resolution": "Verify that the workspace-id and the view-id are correct and consistent."
              },
              {
                "name": "8060",
                "description": "The specified domainName does not exist.",
                "resolution": "Provide a valid custom domain name configured for the workspace."
              },
              {
                "name": "8061",
                "description": "The specified domain does not belong to the workspace or the calling user.",
                "resolution": "Use a domain that is associated with the workspace."
              },
              {
                "name": "8062",
                "description": "withCustomDomain is true but no custom domain is configured for this workspace.",
                "resolution": "Configure a custom domain for the workspace first, or omit withCustomDomain to use the standard domain."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.embed.read scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/dependents": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Get View Dependents",
        "summary": "Get View Dependents",
        "description": "Returns every active view that depends on the specified view. A dependent view is one that cannot exist without the source view - a chart built on a table, a pivot table built on a query table, or a query table built on another query table.\n\nThe whole transitive chain is resolved, so the result is the complete set of views that would break if the source view were deleted. That makes this API a useful check before calling Delete View.",
        "operationId": "getViewDependents",
        "parameters": [
          {
            "$ref": "#/components/parameters/org-id"
          },
          {
            "$ref": "#/components/parameters/workspace-id"
          },
          {
            "$ref": "#/components/parameters/view-id"
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>This API has no CONFIG parameter. The only inputs are the <b>workspace-id</b> and <b>view-id</b> path parameters.</li>\n<li>What counts as a dependent varies by the type of the source view. A <b>table</b> returns every analysis view, query table and pipeline table built on it directly or transitively, plus the dashboards that contain any of them. A <b>query table</b> returns the views built on it directly and transitively, the dashboards containing them, and the parent query tables that reference it in their SQL. An <b>analysis view, pivot table or summary view</b> returns the dashboards that embed it. A <b>dashboard</b> returns an empty list, since dashboards are leaf nodes of the dependency graph. A <b>dashboard tab</b> returns the views embedded within that tab.</li>\n<li>The full transitive chain is returned, not just the direct dependents. For a table feeding a query table feeding a chart placed on a dashboard, all of them are listed - the result is the complete set of views that would break if the source view were deleted.</li>\n<li>Dashboard tabs are never listed as dependents. The parent tabbed dashboard is listed instead. Use the Get View Details API with <b>withInvolvedMetaInfo</b> as true to inspect the contents of an individual tab.</li>\n<li>Only downstream views are returned. The tables that the source view itself depends on are not listed; use the Get View Details API for those.</li>\n<li>Only active views are returned. Views that have been moved to Trash are excluded.</li>\n<li>A view with no dependents returns HTTP 200 with an empty <b>views</b> array. No error is raised.</li>\n<li>The <b>viewType</b> labels here differ from those of the Get View List API - a chart appears as Chart View rather than AnalysisView. Use <b>viewTypeId</b> when the integer type code is needed.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The active views that depend on the specified view.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetViewDependentsResponse"
                },
                "examples": {
                  "tableDependents": {
                    "description": "Table dependents",
                    "summary": "A table returns the analysis views built on it together with the dashboard that embeds them. The dashboard appears even though it depends on the table only indirectly.",
                    "value": {
                      "status": "success",
                      "summary": "Get view dependents",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000105010",
                            "viewName": "Revenue Trend",
                            "viewTypeId": 2,
                            "viewType": "Chart View"
                          },
                          {
                            "viewId": "466206000000105011",
                            "viewName": "Sales by Region",
                            "viewTypeId": 3,
                            "viewType": "Pivot View"
                          },
                          {
                            "viewId": "466206000000105012",
                            "viewName": "Monthly Summary",
                            "viewTypeId": 4,
                            "viewType": "Summary View"
                          },
                          {
                            "viewId": "466206000000109002",
                            "viewName": "Executive Dashboard",
                            "viewTypeId": 7,
                            "viewType": "Dashboard"
                          }
                        ]
                      }
                    }
                  },
                  "queryTableDependents": {
                    "description": "Query table dependents",
                    "summary": "A query table returns the child query table built on top of it as well as the analysis views built on either of them.",
                    "value": {
                      "status": "success",
                      "summary": "Get view dependents",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000115010",
                            "viewName": "SalesQT_Child",
                            "viewTypeId": 6,
                            "viewType": "Query Table"
                          },
                          {
                            "viewId": "466206000000115011",
                            "viewName": "QT_Chart_Analysis",
                            "viewTypeId": 2,
                            "viewType": "Chart View"
                          },
                          {
                            "viewId": "466206000000115012",
                            "viewName": "QT_Pivot_Analysis",
                            "viewTypeId": 3,
                            "viewType": "Pivot View"
                          }
                        ]
                      }
                    }
                  },
                  "noDependents": {
                    "description": "No dependents",
                    "summary": "A dashboard, or any other view that nothing is built on, returns an empty array with HTTP 200 rather than an error.",
                    "value": {
                      "status": "success",
                      "summary": "Get view dependents",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            },
            "x-zenesis-statuscodes": [
              {
                "name": "7103",
                "description": "Workspace not found.",
                "resolution": "Verify that the workspace-id in the URL is correct and accessible."
              },
              {
                "name": "7104",
                "description": "View not found.",
                "resolution": "Verify that the view-id exists in the specified workspace."
              },
              {
                "name": "7301",
                "description": "The user is not a Workspace Admin, Account Admin, or Organization Admin.",
                "resolution": "Ensure the user holds a Workspace Admin or higher role in this workspace."
              },
              {
                "name": "7319",
                "description": "The view does not belong to the specified workspace.",
                "resolution": "Verify that the workspace-id and the view-id are correct and consistent."
              },
              {
                "name": "8535",
                "description": "Invalid or expired OAuth token.",
                "resolution": "Provide a valid token with the ZohoAnalytics.metadata.read scope."
              }
            ]
          },
                    "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/recentviews": {
      "get": {
        "tags": [
          "View Operations"
        ],
        "x-zenesis-title": "Get Recent Views",
        "summary": "Get Recent Views",
        "description": "Returns the views most recently accessed by the authenticated user, ordered with the most recent first.\n\nThe API is user-scoped and spans workspaces: views from every workspace and organization the user can reach are returned together in one list, each carrying the workspace it belongs to. No workspace ID is needed in the URL, and the history returned is personal to the token used to make the call.",
        "operationId": "getRecentViews",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "x-zenesis-sections": {
          "apiRequestParameters": {
            "1": {
              "type": "editor",
              "value": "<blockquote>Note:<br>\n<span style=\"font-weight:normal;\">\n<ul>\n<li>This API has no CONFIG parameter and takes no workspace ID. <b>ZANALYTICS-ORGID</b> is not required either, because the API is user-scoped rather than tied to one workspace or organization.</li>\n<li>The result is strictly per user. Two different OAuth tokens return two different histories, each belonging to the user the token was issued for.</li>\n<li>Views from every workspace and organization the user can reach are returned in a single list. <b>workspaceId</b> and <b>workspaceName</b> tell them apart.</li>\n<li>The list is ordered by <b>viewLastAccessedTime</b> descending, so the most recently opened view comes first.</li>\n<li>Only views that are currently active and currently accessible are returned. A view deleted after it was accessed, or one later unshared from the user, drops out of the list.</li>\n<li>A user with no view history receives HTTP 200 with an empty <b>views</b> array.</li>\n<li><b>viewLastAccessedTime</b> is an epoch timestamp in milliseconds returned as a string. Divide it by 1000 to obtain epoch seconds.</li>\n</ul>\n</span></blockquote>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK. The views recently accessed by the authenticated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecentViewsResponse"
                },
                "examples": {
                  "crossWorkspaceHistory": {
                    "description": "Cross workspace history",
                    "summary": "Views of several types drawn from more than one workspace, ordered by the time the calling user last opened each of them.",
                    "value": {
                      "status": "success",
                      "summary": "Get recent views",
                      "data": {
                        "views": [
                          {
                            "viewId": "137687000000005744",
                            "viewName": "Column Sales",
                            "viewType": "Table",
                            "workspaceId": "137687000000005620",
                            "workspaceName": "Q3 Sales Workspace",
                            "viewLastAccessedTime": "1623165599255"
                          },
                          {
                            "viewId": "137687000001859027",
                            "viewName": "tabular_1",
                            "viewType": "Report",
                            "workspaceId": "137687000001859022",
                            "workspaceName": "DBOwner-Backup",
                            "viewLastAccessedTime": "1622797899143"
                          },
                          {
                            "viewId": "137687000001859035",
                            "viewName": "dashboard1",
                            "viewType": "Dashboard",
                            "workspaceId": "137687000001859022",
                            "workspaceName": "DBOwner-Backup",
                            "viewLastAccessedTime": "1622741330331"
                          },
                          {
                            "viewId": "137687000001859030",
                            "viewName": "summary",
                            "viewType": "SummaryView",
                            "workspaceId": "137687000001859022",
[...]
